"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.account_verification_report_response import (
    AccountVerificationReportResponse,
)
from adyen.models.account_verification_routes_response import (
    AccountVerificationRoutesResponse,
)


class AccountVerificationApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize AccountVerificationApi object."""
        super(AccountVerificationApi, self).__init__(config)

    def get_account_verification_reports_code(self,
                                              code):
        """Perform a GET request to /accountVerification/reports/{code}.

        Get the account verification report using a unique code from a successful
        open banking connection. This report provides identity verification and bank
        account details.

        Args:
            code (str): The unique code you receive after a successful open banking
                flow that is included as a query parameter in the `redirectUrl`
                callback.

        Returns:
            AccountVerificationReportResponse: Response from the API. OK - The
                request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT21)
            .path("/accountVerification/reports/{code}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("code")
                .value(code)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountVerificationReportResponse.from_dictionary)
            .local_error("400",
                "Bad Request - The request is malformed or is not in the expected for"
                "mat.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - The API credential used in the request is invalid or "
                "does not have the right permissions.",
                DefaultErrorResponseEntityException)
            .local_error("404",
                "Not Found - The entity was not found.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("429",
                "Too Many Requests - Request rate limit exceeded.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Service Error - An unrecoverable error occurred while tryin"
                "g to perform the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_account_verification_routes(self,
                                         body):
        """Perform a POST request to /accountVerification/routes.

        Create a list of routes for verifying bank accounts of third-party
        individuals. Successful connections generate a unique code used for
        requesting bank reports and verifying identity.

        Args:
            body (AccountVerificationRoutesRequest): The request body parameter.

        Returns:
            AccountVerificationRoutesResponse: Response from the API. OK - The
                request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT21)
            .path("/accountVerification/routes")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountVerificationRoutesResponse.from_dictionary)
            .local_error("400",
                "Bad Request - The request is malformed or is not in the expected for"
                "mat.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - The API credential used in the request is invalid or "
                "does not have the right permissions.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("429",
                "Too Many Requests - Request rate limit exceeded.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Service Error - An unrecoverable error occurred while tryin"
                "g to perform the request.",
                DefaultErrorResponseEntityException),
        ).execute()
