"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.allowed_origin import AllowedOrigin
from adyen.models.allowed_origins_response import (
    AllowedOriginsResponse,
)


class AllowedOriginsMerchantLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize AllowedOriginsMerchantLevelApi object."""
        super(AllowedOriginsMerchantLevelApi, self).__init__(config)

    def get_merchants_merchant_id_api_credentials_api_credential_id_allowed_origins(self,
                                                                                    merchant_id,
                                                                                    api_credential_id):
        """Perform a GET request to
        /merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins.

        Returns the list of [allowed
        origins](https://docs.adyen.com/development-resources/client-side-authenticati
        on#allowed-origins) for the API credential identified in the path.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—API credentials read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            api_credential_id (str): Unique identifier of the API credential.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("apiCredentialId")
                .value(api_credential_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AllowedOriginsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_merchants_merchant_id_api_credentials_api_credential_id_allowed_origins(self,
                                                                                     merchant_id,
                                                                                     api_credential_id,
                                                                                     body=None):
        """Perform a POST request to
        /merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins.

        Adds a new [allowed
        origin](https://docs.adyen.com/development-resources/client-side-authenticatio
        n#allowed-origins) to the API credential's list of allowed origins.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—API credentials read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            api_credential_id (str): Unique identifier of the API credential.
            body (AllowedOrigin, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("apiCredentialId")
                .value(api_credential_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AllowedOrigin.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_merchants_merchant_id_api_credentials_api_credential_id_allowed_origins_origin_id(self,
                                                                                              merchant_id,
                                                                                              api_credential_id,
                                                                                              origin_id):
        """Perform a GET request to
        /merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins/{origin
        Id}.

        Returns the [allowed
        origin](https://docs.adyen.com/development-resources/client-side-authenticatio
        n#allowed-origins) identified in the path.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—API credentials read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            api_credential_id (str): Unique identifier of the API credential.
            origin_id (str): Unique identifier of the allowed origin.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("apiCredentialId")
                .value(api_credential_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("originId")
                .value(origin_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AllowedOrigin.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def delete_merchants_merchant_id_api_credentials_api_credential_id_allowed_origins_origin_id(self,
                                                                                                 merchant_id,
                                                                                                 api_credential_id,
                                                                                                 origin_id):
        """Perform a DELETE request to
        /merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins/{origin
        Id}.

        Removes the [allowed
        origin](https://docs.adyen.com/development-resources/client-side-authenticatio
        n#allowed-origins) identified in the path. As soon as an allowed origin is
        removed, we no longer accept client-side requests from that domain.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—API credentials read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            api_credential_id (str): Unique identifier of the API credential.
            origin_id (str): Unique identifier of the allowed origin.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. No Content - look at
                the actual response code for the status of the request.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("apiCredentialId")
                .value(api_credential_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("originId")
                .value(origin_id)
                .is_required(True)
                .should_encode(True))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
