"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.android_app import AndroidApp
from adyen.models.android_apps_response import (
    AndroidAppsResponse,
)
from adyen.models.android_certificates_response import (
    AndroidCertificatesResponse,
)
from adyen.models.entity_reference import EntityReference
from adyen.models.reprocess_android_app_response import (
    ReprocessAndroidAppResponse,
)


class AndroidFilesCompanyLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize AndroidFilesCompanyLevelApi object."""
        super(AndroidFilesCompanyLevelApi, self).__init__(config)

    def get_companies_company_id_android_apps(self,
                                              company_id,
                                              page_number=None,
                                              page_size=None,
                                              package_name=None,
                                              version_code=None):
        """Perform a GET request to /companies/{companyId}/androidApps.

        Returns a list of the Android apps that are available for the company
        identified in the path.
        These apps have been uploaded to Adyen and can be installed or uninstalled on
        Android payment terminals through [terminal
        actions](https://docs.adyen.com/point-of-sale/automating-terminal-management/t
        erminal-actions-api).
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Android files read
        * Management API—Android files read and write
        * Management API—Terminal actions read
        * Management API—Terminal actions read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 20 items on a page.
            package_name (str, optional): The package name that uniquely identifies
                the Android app.
            version_code (int, optional): The version number of the app.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/androidApps")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("packageName")
                .value(package_name))
            .query_param(Parameter()
                .key("versionCode")
                .value(version_code))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AndroidAppsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_companies_company_id_android_apps(self,
                                               company_id):
        """Perform a POST request to /companies/{companyId}/androidApps.

        Uploads an Android APK file to Adyen.
        The maximum APK file size is 200 MB.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Android files read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).
        >By choosing to upload, install, or run any third-party applications on an
        Adyen payment terminal, you accept full responsibility and liability for any
        consequences of uploading, installing, or running any such applications.

        Args:
            company_id (str): The unique identifier of the company account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/androidApps")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EntityReference.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_companies_company_id_android_apps_id(self,
                                                 company_id,
                                                 id):
        """Perform a GET request to /companies/{companyId}/androidApps/{id}.

        Returns the details of the Android app identified in the path.
        These apps have been uploaded to Adyen and can be installed or uninstalled on
        Android payment terminals through [terminal
        actions](https://docs.adyen.com/point-of-sale/automating-terminal-management/t
        erminal-actions-api).
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Android files read
        * Management API—Android files read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.
            id (str): The unique identifier of the app.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/androidApps/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AndroidApp.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_companies_company_id_android_apps_id(self,
                                                   company_id,
                                                   id):
        """Perform a PATCH request to /companies/{companyId}/androidApps/{id}.

        Reuploads the Android app identified in the path.
        To make this request, your API credential must have this
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Android files read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).
        >By choosing to upload, install, or run any third-party applications on an
        Adyen payment terminal, you accept full responsibility and liability for any
        consequences of uploading, installing, or running any such applications.

        Args:
            company_id (str): The unique identifier of the company account.
            id (str): The unique identifier of the app.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/androidApps/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ReprocessAndroidAppResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_companies_company_id_android_certificates(self,
                                                      company_id,
                                                      page_number=None,
                                                      page_size=None,
                                                      certificate_name=None):
        """Perform a GET request to /companies/{companyId}/androidCertificates.

        Returns a list of the Android certificates that are available for the company
        identified in the path.
        Typically, these certificates enable running apps on Android payment
        terminals. The certificates in the list have been uploaded to Adyen and can
        be installed or uninstalled on Android terminals through [terminal
        actions](https://docs.adyen.com/point-of-sale/automating-terminal-management/t
        erminal-actions-api).
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Android files read
        * Management API—Android files read and write
        * Management API—Terminal actions read
        * Management API—Terminal actions read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 20 items on a page.
            certificate_name (str, optional): The name of the certificate.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/androidCertificates")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("certificateName")
                .value(certificate_name))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AndroidCertificatesResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_companies_company_id_android_certificates(self,
                                                       company_id):
        """Perform a POST request to
        /companies/{companyId}/androidCertificates.

        Uploads an Android Certificate file to Adyen.
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/androidCertificates")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EntityReference.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
