"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.company_api_credential import (
    CompanyApiCredential,
)
from adyen.models.create_company_api_credential_response import (
    CreateCompanyApiCredentialResponse,
)
from adyen.models.list_company_api_credentials_response import (
    ListCompanyApiCredentialsResponse,
)


class APICredentialsCompanyLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize APICredentialsCompanyLevelApi object."""
        super(APICredentialsCompanyLevelApi, self).__init__(config)

    def get_companies_company_id_api_credentials(self,
                                                 company_id,
                                                 page_number=None,
                                                 page_size=None):
        """Perform a GET request to /companies/{companyId}/apiCredentials.

        Returns the list of [API
        credentials](https://docs.adyen.com/development-resources/api-credentials)
        for the company account. The list is grouped into pages as defined by the
        query parameters.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—API credentials read and write

        Args:
            company_id (str): The unique identifier of the company account.
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 10 items on a page.

        Returns:
            ListCompanyApiCredentialsResponse: Response from the API. OK - the
                request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/apiCredentials")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListCompanyApiCredentialsResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_companies_company_id_api_credentials(self,
                                                  company_id,
                                                  body=None):
        """Perform a POST request to /companies/{companyId}/apiCredentials.

        Creates an [API
        credential](https://docs.adyen.com/development-resources/api-credentials) for
        the company account identified in the path. In the request, you can specify
        which merchant accounts the new API credential will have access to, as well
        as its roles and allowed origins.
        The response includes several types of authentication details:
        * [API
        key](https://docs.adyen.com/development-resources/api-authentication#api-key-a
        uthentication): used for API request authentication.
        * [Client
        key](https://docs.adyen.com/development-resources/client-side-authentication#h
        ow-it-works): public key used for client-side authentication.
        * [Username and
        password](https://docs.adyen.com/development-resources/api-authentication#usin
        g-basic-authentication): used for basic authentication.
        > Make sure you store the API key securely in your system. You won't be able
        to retrieve it later.
        If your API key is lost or compromised, you need to [generate a new API
        key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/companies
        /{companyId}/apiCredentials/{apiCredentialId}/generateApiKey).
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—API credentials read and write

        Args:
            company_id (str): The unique identifier of the company account.
            body (CreateCompanyApiCredentialRequest, optional): The request body
                parameter.

        Returns:
            CreateCompanyApiCredentialResponse: Response from the API. OK - the
                request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/apiCredentials")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateCompanyApiCredentialResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_companies_company_id_api_credentials_api_credential_id(self,
                                                                   company_id,
                                                                   api_credential_id):
        """Perform a GET request to
        /companies/{companyId}/apiCredentials/{apiCredentialId}.

        Returns the [API
        credential](https://docs.adyen.com/development-resources/api-credentials)
        identified in the path.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—API credentials read and write

        Args:
            company_id (str): The unique identifier of the company account.
            api_credential_id (str): Unique identifier of the API credential.

        Returns:
            CompanyApiCredential: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/apiCredentials/{apiCredentialId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("apiCredentialId")
                .value(api_credential_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CompanyApiCredential.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_companies_company_id_api_credentials_api_credential_id(self,
                                                                     company_id,
                                                                     api_credential_id,
                                                                     body=None):
        """Perform a PATCH request to
        /companies/{companyId}/apiCredentials/{apiCredentialId}.

        Changes the API credential's roles, merchant account access, or allowed
        origins. The request has the new values for the fields you want to change.
        The response contains the full updated API credential, including the new
        values from the request.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—API credentials read and write

        Args:
            company_id (str): The unique identifier of the company account.
            api_credential_id (str): Unique identifier of the API credential.
            body (UpdateCompanyApiCredentialRequest, optional): The request body
                parameter.

        Returns:
            CompanyApiCredential: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/apiCredentials/{apiCredentialId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("apiCredentialId")
                .value(api_credential_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CompanyApiCredential.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
