"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.payment_instruments_authorised_card_users_400_error_exception import (  # noqa: E501
    PaymentInstrumentsAuthorisedCardUsers400ErrorException,
)
from adyen.exceptions.payment_instruments_authorised_card_users_401_error_exception import (  # noqa: E501
    PaymentInstrumentsAuthorisedCardUsers401ErrorException,
)
from adyen.exceptions.payment_instruments_authorised_card_users_403_error_exception import (  # noqa: E501
    PaymentInstrumentsAuthorisedCardUsers403ErrorException,
)
from adyen.exceptions.payment_instruments_authorised_card_users_404_error_exception import (  # noqa: E501
    PaymentInstrumentsAuthorisedCardUsers404ErrorException,
)
from adyen.exceptions.payment_instruments_authorised_card_users_422_error_exception import (  # noqa: E501
    PaymentInstrumentsAuthorisedCardUsers422ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.authorised_card_users import (
    AuthorisedCardUsers,
)


class AuthorizedCardUsersApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize AuthorizedCardUsersApi object."""
        super(AuthorizedCardUsersApi, self).__init__(config)

    def get_payment_instruments_payment_instrument_id_authorised_card_users(self,
                                                                            payment_instrument_id):
        """Perform a GET request to
        /paymentInstruments/{paymentInstrumentId}/authorisedCardUsers.

        Returns the authorized users for a card.

        Args:
            payment_instrument_id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AuthorisedCardUsers.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized",
                PaymentInstrumentsAuthorisedCardUsers401ErrorException)
            .local_error("403",
                "Forbidden",
                PaymentInstrumentsAuthorisedCardUsers403ErrorException)
            .local_error("404",
                "Not Found",
                PaymentInstrumentsAuthorisedCardUsers404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                PaymentInstrumentsAuthorisedCardUsers422ErrorException),
        ).execute()

    def post_payment_instruments_payment_instrument_id_authorised_card_users(self,
                                                                             payment_instrument_id,
                                                                             body):
        """Perform a POST request to
        /paymentInstruments/{paymentInstrumentId}/authorisedCardUsers.

        Assigns authorized users to a card. Users must have the
        **authorisedPaymentInstrumentUser** capability to be able to use the card.

        Args:
            payment_instrument_id (str): The request template parameter.
            body (AuthorisedCardUsers): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400",
                "Bad request",
                PaymentInstrumentsAuthorisedCardUsers400ErrorException)
            .local_error("401",
                "Unauthorized",
                PaymentInstrumentsAuthorisedCardUsers401ErrorException)
            .local_error("403",
                "Forbidden",
                PaymentInstrumentsAuthorisedCardUsers403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                PaymentInstrumentsAuthorisedCardUsers422ErrorException),
        ).execute()

    def delete_payment_instruments_payment_instrument_id_authorised_card_users(self,
                                                                               payment_instrument_id):
        """Perform a DELETE request to
        /paymentInstruments/{paymentInstrumentId}/authorisedCardUsers.

        Deletes the list of authorized users assigned to a card.

        Args:
            payment_instrument_id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id)
                .is_required(True)
                .should_encode(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("401",
                "Unauthorized",
                PaymentInstrumentsAuthorisedCardUsers401ErrorException)
            .local_error("403",
                "Forbidden",
                PaymentInstrumentsAuthorisedCardUsers403ErrorException),
        ).execute()

    def patch_payment_instruments_payment_instrument_id_authorised_card_users(self,
                                                                              payment_instrument_id,
                                                                              body):
        """Perform a PATCH request to
        /paymentInstruments/{paymentInstrumentId}/authorisedCardUsers.

        Updates the list of authorized users for a card.
        >This request replaces all existing authorized users for the card.

        Args:
            payment_instrument_id (str): The request template parameter.
            body (AuthorisedCardUsers): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400",
                "Bad request",
                PaymentInstrumentsAuthorisedCardUsers400ErrorException)
            .local_error("401",
                "Unauthorized",
                PaymentInstrumentsAuthorisedCardUsers401ErrorException)
            .local_error("403",
                "Forbidden",
                PaymentInstrumentsAuthorisedCardUsers403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                PaymentInstrumentsAuthorisedCardUsers422ErrorException),
        ).execute()
