"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.authorised_card_users import (
    AuthorisedCardUsers,
)


class AuthorizedCardUsersApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize AuthorizedCardUsersApi object."""
        super(AuthorizedCardUsersApi, self).__init__(config)

    def get_payment_instruments_payment_instrument_id_authorised_card_users(self,
                                                                            payment_instrument_id):
        """Perform a GET request to
        /paymentInstruments/{paymentInstrumentId}/authorisedCardUsers.

        Returns the authorized users for a card.

        Args:
            payment_instrument_id (str): The request template parameter.

        Returns:
            AuthorisedCardUsers: Response from the API. Successful operation

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AuthorisedCardUsers.from_dictionary)
            .local_error("401", "Unauthorized", DefaultErrorResponseEntityException)
            .local_error("403", "Forbidden", DefaultErrorResponseEntityException)
            .local_error("404", "Not Found", DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_payment_instruments_payment_instrument_id_authorised_card_users(self,
                                                                             payment_instrument_id,
                                                                             body):
        """Perform a POST request to
        /paymentInstruments/{paymentInstrumentId}/authorisedCardUsers.

        Assigns authorized users to a card. Users must have the
        **authorisedPaymentInstrumentUser** capability to be able to use the card.

        Args:
            payment_instrument_id (str): The request template parameter.
            body (AuthorisedCardUsers): The request body parameter.

        Returns:
            void: Response from the API. Successful operation

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize),
        ).execute()

    def delete_payment_instruments_payment_instrument_id_authorised_card_users(self,
                                                                               payment_instrument_id):
        """Perform a DELETE request to
        /paymentInstruments/{paymentInstrumentId}/authorisedCardUsers.

        Deletes the list of authorized users assigned to a card.

        Args:
            payment_instrument_id (str): The request template parameter.

        Returns:
            void: Response from the API. Successful operation

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id)
                .should_encode(True)),
        ).execute()

    def patch_payment_instruments_payment_instrument_id_authorised_card_users(self,
                                                                              payment_instrument_id,
                                                                              body):
        """Perform a PATCH request to
        /paymentInstruments/{paymentInstrumentId}/authorisedCardUsers.

        Updates the list of authorized users for a card.
        >This request replaces all existing authorized users for the card.

        Args:
            payment_instrument_id (str): The request template parameter.
            body (AuthorisedCardUsers): The request body parameter.

        Returns:
            void: Response from the API. Successful operation

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize),
        ).execute()
