"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.balance_overview_companies_balances_401_error_exception import (
    BalanceOverviewCompaniesBalances401ErrorException,
)
from adyen.exceptions.balance_overview_companies_balances_403_error_exception import (
    BalanceOverviewCompaniesBalances403ErrorException,
)
from adyen.exceptions.balance_overview_companies_balances_422_error_exception import (
    BalanceOverviewCompaniesBalances422ErrorException,
)
from adyen.exceptions.balance_overview_merchants_balances_401_error_exception import (
    BalanceOverviewMerchantsBalances401ErrorException,
)
from adyen.exceptions.balance_overview_merchants_balances_403_error_exception import (
    BalanceOverviewMerchantsBalances403ErrorException,
)
from adyen.exceptions.balance_overview_merchants_balances_422_error_exception import (
    BalanceOverviewMerchantsBalances422ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.company_balances import CompanyBalances
from adyen.models.merchant_balance import MerchantBalance


class BalancesOverviewApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize BalancesOverviewApi object."""
        super(BalancesOverviewApi, self).__init__(config)

    def get_balance_overview_companies_company_account_code_balances(self,
                                                                     company_account_code,
                                                                     currency):
        """Perform a GET request to
        /balanceOverview/companies/{companyAccountCode}/balances.

        Returns an array with details about the balances available for all merchant
        accounts under your company account. For each merchant account, the response
        returns the following:
        * **Available funds**: The funds in the merchant account that have been
        settled and are available for use.
        * **Pending balance**: The funds in the merchant account that have not been
        settled yet.
        * **Next payout amount**: The amount that will be settled to your bank
        account with the next payout.
        * **Reserve**: The available amount to cover refunds, payouts, chargebacks,
        and other operational expenses that cannot be covered by your in-process
        funds.
        * **Deposit**: The amount withheld by Adyen to cover potential losses and
        liabilities due to payment processing.

        Args:
            company_account_code (str): The unique identifier of your company account.
            currency (str): The currency for which you want a balances overview.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceOverview/companies/{companyAccountCode}/balances")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyAccountCode")
                .value(company_account_code)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("currency")
                .value(currency)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CompanyBalances.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - Authentication required.",
                BalanceOverviewCompaniesBalances401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceOverviewCompaniesBalances403ErrorException)
            .local_error("422",
                "Unprocessable Content - A request validation error.",
                BalanceOverviewCompaniesBalances422ErrorException),
        ).execute()

    def get_balance_overview_merchants_merchant_account_code_balances(self,
                                                                      merchant_account_code,
                                                                      currency):
        """Perform a GET request to
        /balanceOverview/merchants/{merchantAccountCode}/balances.

        Returns an overview of the different balances available for the merchant
        account. This includes details about the following:
        * **Available funds**: The funds in the merchant account that have been
        settled and are available for use.
        * **Pending balance**: The funds in the merchant account that have not been
        settled yet.
        * **Next payout amount**: The amount that will be settled to your bank
        account with the next payout.
        * **Reserve**: The available amount to cover refunds, payouts, chargebacks,
        and other operational expenses that cannot be covered by your in-process
        funds.
        * **Deposit**: The amount withheld by Adyen to cover potential losses and
        liabilities due to payment processing.

        Args:
            merchant_account_code (str): The unique identifier of your merchant
                account.
            currency (str): The currency for which you want a balances overview.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceOverview/merchants/{merchantAccountCode}/balances")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantAccountCode")
                .value(merchant_account_code)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("currency")
                .value(currency)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MerchantBalance.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - Authentication required.",
                BalanceOverviewMerchantsBalances401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceOverviewMerchantsBalances403ErrorException)
            .local_error("422",
                "Unprocessable Content - A request validation error.",
                BalanceOverviewMerchantsBalances422ErrorException),
        ).execute()
