"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.webhook_setting import WebhookSetting
from adyen.models.webhook_settings import WebhookSettings


class BalancesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize BalancesApi object."""
        super(BalancesApi, self).__init__(config)

    def get_balance_platforms_balance_platform_id_webhooks_webhook_id_settings(self,
                                                                               balance_platform_id,
                                                                               webhook_id):
        """Perform a GET request to
        /balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings.

        Returns all balance webhook settings configured for triggering [balance
        webhooks](https://docs.adyen.com/api-explorer/balance-webhooks/latest/post/bal
        anceAccount.balance.updated).

        Args:
            balance_platform_id (str): The unique identifier of the balance platform.
            webhook_id (str): The unique identifier of the balance webhook.

        Returns:
            WebhookSettings: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balancePlatformId")
                .value(balance_platform_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WebhookSettings.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("404",
                "Not Found - the payment was not found",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_balance_platforms_balance_platform_id_webhooks_webhook_id_settings(self,
                                                                                balance_platform_id,
                                                                                webhook_id,
                                                                                body):
        """Perform a POST request to
        /balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings.

        Configures the criteria for triggering [balance
        webhooks](https://docs.adyen.com/api-explorer/balance-webhooks/1/post/balanceP
        latform.balanceAccount.balance.updated).
        Adyen sends balance webhooks to notify you of balance changes in your balance
        platform. They can be triggered when the balance reaches, exceeds, or drops
        below a specific value in a specific currency.
        You can get notified about balance changes in your entire balance platform,
        in the balance accounts of a specific user, or a specific balance account.
        The hierarchy between the webhook settings are based on the following
        business logic:
        * Settings on a higher level apply to all lower level resources (balance
        platform > account holder > balance acocunt).
        * The most granular setting overrides higher level settings (balance account
        > account holder > balance platform).

        Args:
            balance_platform_id (str): The unique identifier of the balance platform.
            webhook_id (str): The unique identifier of the balance webhook.
            body (BalanceWebhookSettingInfo): The request body parameter.

        Returns:
            WebhookSetting: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("balancePlatformId")
                .value(balance_platform_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WebhookSetting.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("404",
                "Not Found - the payment was not found",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def get_balance_platforms_balance_platform_id_webhooks_webhook_id_settings_setting_id(self,
                                                                                          balance_platform_id,
                                                                                          webhook_id,
                                                                                          setting_id):
        """Perform a GET request to
        /balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}
        .

        Returns the details of a specific balance webhook setting configured for
        triggering [balance
        webhooks](https://docs.adyen.com/api-explorer/balance-webhooks/latest/post/bal
        anceAccount.balance.updated).

        Args:
            balance_platform_id (str): The unique identifier of the balance platform.
            webhook_id (str): The unique identifier of the balance webhook.
            setting_id (str): The unique identifier of the balance webhook setting.

        Returns:
            WebhookSetting: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balancePlatformId")
                .value(balance_platform_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("settingId")
                .value(setting_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WebhookSetting.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("404",
                "Not Found - the payment was not found",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def delete_balance_platforms_balance_platform_id_webhooks_webhook_id_settings_setting_id(self,
                                                                                             balance_platform_id,
                                                                                             webhook_id,
                                                                                             setting_id):
        """Perform a DELETE request to
        /balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}
        .

        Deletes a balance webhook setting that contains the conditions for triggering
        [balance
        webhooks](https://docs.adyen.com/api-explorer/balance-webhooks/latest/post/bal
        anceAccount.balance.updated).

        Args:
            balance_platform_id (str): The unique identifier of the balance platform.
            webhook_id (str): The unique identifier of the balance webhook.
            setting_id (str): The unique identifier of the balance webhook setting.

        Returns:
            Any: Response from the API. No Content - the request has been
                successfully processed, but there is no additional content.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("balancePlatformId")
                .value(balance_platform_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("settingId")
                .value(setting_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("404",
                "Not Found - the payment was not found",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def patch_balance_platforms_balance_platform_id_webhooks_webhook_id_settings_setting_id(self,
                                                                                            balance_platform_id,
                                                                                            webhook_id,
                                                                                            setting_id,
                                                                                            body):
        """Perform a PATCH request to
        /balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}
        .

        Updates the conditions the balance change needs to meet for Adyen to send a
        [balance
        webhook](https://docs.adyen.com/api-explorer/balance-webhooks/latest/post/bala
        nceAccount.balance.updated).

        Args:
            balance_platform_id (str): The unique identifier of the balance platform.
            webhook_id (str): The unique identifier of the balance webhook.
            setting_id (str): The unique identifier of the balance webhook setting.
            body (BalanceWebhookSettingInfoUpdate): The request body parameter.

        Returns:
            WebhookSetting: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("balancePlatformId")
                .value(balance_platform_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("settingId")
                .value(setting_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WebhookSetting.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("404",
                "Not Found - the payment was not found",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()
