"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_error_1_exception import (
    ServiceErrorError1Exception,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.business_line import BusinessLine


class BusinessLinesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize BusinessLinesApi object."""
        super(BusinessLinesApi, self).__init__(config)

    def post_business_lines(self,
                            body=None):
        """Perform a POST request to /businessLines.

        Creates a business line.
        This resource contains information about your user's line of business,
        including their industry and their source of funds. Adyen uses this
        information to verify your users as required by payment industry
        regulations.Adyen informs you of the verification results through webhooks or
        API responses.
        You can create a maximum of 200 business lines per legal entity for payment
        processing.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            body (BusinessLineInfo, optional): The request body parameter.

        Returns:
            BusinessLine: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/businessLines")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BusinessLine.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def get_business_lines_id(self,
                              id):
        """Perform a GET request to /businessLines/{id}.

        Returns the detail of a business line.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the business line.

        Returns:
            BusinessLine: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/businessLines/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BusinessLine.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def delete_business_lines_id(self,
                                 id):
        """Perform a DELETE request to /businessLines/{id}.

        Deletes a business line.
         >If you delete a business line linked to a [payment
        method](https://docs.adyen.com/development-resources/paymentmethodvariant#mana
        gement-api), it can affect your merchant account's ability to use the
        [payment
        method](https://docs.adyen.com/api-explorer/Management/latest/post/merchants/_
        merchantId_/paymentMethodSettings). The business line is removed from all
        linked merchant accounts.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the business line to be deleted.

        Returns:
            void: Response from the API. No Content - look at the actual response
                code for the status of the request.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/businessLines/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()

    def patch_business_lines_id(self,
                                id,
                                body=None):
        """Perform a PATCH request to /businessLines/{id}.

        Updates a business line.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the business line.
            body (BusinessLineInfoUpdate, optional): The request body parameter.

        Returns:
            BusinessLine: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/businessLines/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BusinessLine.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()
