"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.merchants_connected_devices_401_error_exception import (
    MerchantsConnectedDevices401ErrorException,
)
from adyen.exceptions.merchants_connected_devices_403_error_exception import (
    MerchantsConnectedDevices403ErrorException,
)
from adyen.exceptions.merchants_devices_status_401_error_exception import (
    MerchantsDevicesStatus401ErrorException,
)
from adyen.exceptions.merchants_devices_status_403_error_exception import (
    MerchantsDevicesStatus403ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.connected_devices_response import (
    ConnectedDevicesResponse,
)
from adyen.models.device_status_response import (
    DeviceStatusResponse,
)


class CloudEndpointsAndConnectionApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize CloudEndpointsAndConnectionApi object."""
        super(CloudEndpointsAndConnectionApi, self).__init__(config)

    def get_merchants_merchant_account_connected_devices(self,
                                                         merchant_account,
                                                         store=None):
        """Perform a GET request to
        /merchants/{merchantAccount}/connectedDevices.

        Get a list of payment terminals or SDK installation IDs (in a Mobile
        solution) belonging to the specified merchant account that have an active
        cloud connection.  The `store` query parameter limits the list of devices to
        those belonging to a specific store under the specified merchant account.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * **Cloud Device API role**

        Args:
            merchant_account (str): The unique identifier of the merchant account.
            store (str, optional): The store ID of the store belonging to the
                merchant account specified in the path.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantAccount}/connectedDevices")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantAccount")
                .value(merchant_account)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("store")
                .value(store))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ConnectedDevicesResponse.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized",
                MerchantsConnectedDevices401ErrorException)
            .local_error("403",
                "Forbidden",
                MerchantsConnectedDevices403ErrorException),
        ).execute()

    def post_merchants_merchant_account_devices_device_id_async(self,
                                                                merchant_account,
                                                                device_id,
                                                                body=None):
        """Perform a POST request to
        /merchants/{merchantAccount}/devices/{deviceId}/async.

        Sends a Terminal API request and receives the response asynchronously.
        The request body is a JSON object containing a Terminal API request. For the
        structure, see the various request types under [Terminal
        API](https://docs.adyen.com/api-explorer/terminal-api/1/overview).
        A HTTP status code of **200 OK** is returned when the payment device is
        online and our backend has sent the request. The actual Terminal API response
        is returned as an event notification webhook to your event notification
        endpoint. See [Receiving an asynchronous
        result](https://docs.adyen.com/point-of-sale/design-your-integration/choose-yo
        ur-architecture/cloud/#async).
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * **Cloud Device API role**

        Args:
            merchant_account (str): The unique identifier of the merchant account.
            device_id (str): The unique identifier of the payment device that you
                send this request to. Must be the same as the `POIID` in the
                `MessageHeader` of the Terminal API request.   In an integration with
                payment terminals, use the terminal ID in the format _[terminal
                model]-[serial number]_, for example, **P400‑123456789**. In a Mobile
                solution, use the installation ID of the SDK.
            body (str, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantAccount}/devices/{deviceId}/async")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantAccount")
                .value(merchant_account)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("deviceId")
                .value(device_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()

    def get_merchants_merchant_account_devices_device_id_status(self,
                                                                merchant_account,
                                                                device_id):
        """Perform a GET request to
        /merchants/{merchantAccount}/devices/{deviceId}/status.

        Check if the specified payment terminal or SDK installation ID (in an IPP
        Mobile solution) has an active cloud connection.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * **Cloud Device API role**

        Args:
            merchant_account (str): The unique identifier of the merchant account.
            device_id (str): The unique identifier of the device.   For a payment
                terminal, use the terminal ID in the format _[terminal model]-[serial
                number]_, for example, **P400‑123456789**.  In a Mobile solution, use
                the installation ID of the SDK.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantAccount}/devices/{deviceId}/status")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantAccount")
                .value(merchant_account)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("deviceId")
                .value(device_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeviceStatusResponse.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized",
                MerchantsDevicesStatus401ErrorException)
            .local_error("403", "Forbidden", MerchantsDevicesStatus403ErrorException),
        ).execute()

    def post_merchants_merchant_account_devices_device_id_sync(self,
                                                               merchant_account,
                                                               device_id,
                                                               body=None):
        """Perform a POST request to
        /merchants/{merchantAccount}/devices/{deviceId}/sync.

        Sends a Terminal API request and receives the response synchronously.
        The request body is a JSON object containing a Terminal API request. For the
        structure, see the various request types under [Terminal
        API](https://docs.adyen.com/api-explorer/terminal-api/1/overview).
        The response returns a Terminal API response. See [Receiving a synchronous
        result](https://docs.adyen.com/point-of-sale/design-your-integration/choose-yo
        ur-architecture/cloud/#sync).
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * **Cloud Device API role**

        Args:
            merchant_account (str): The unique identifier of the merchant account.
            device_id (str): The unique identifier of the payment device that you
                send this request to. Must be the same as the `POIID` in the
                `MessageHeader` of the Terminal API request.   In an integration with
                payment terminals, use the terminal ID in the format _[terminal
                model]-[serial number]_, for example, **P400‑123456789**. In a Mobile
                solution, use the installation ID of the SDK.
            body (str, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantAccount}/devices/{deviceId}/sync")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantAccount")
                .value(merchant_account)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("deviceId")
                .value(device_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()
