"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.balance_sweep_configurations_response import (
    BalanceSweepConfigurationsResponse,
)
from adyen.models.sweep_configuration_v_2 import (
    SweepConfigurationV2,
)


class CustomPayoutSchedulesSweepsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize CustomPayoutSchedulesSweepsApi object."""
        super(CustomPayoutSchedulesSweepsApi, self).__init__(config)

    def get_balance_accounts_balance_account_id_sweeps(self,
                                                       balance_account_id,
                                                       offset=None,
                                                       limit=None):
        """Perform a GET request to /balanceAccounts/{balanceAccountId}/sweeps.

        Returns a list of the sweeps configured for a balance account.
        To fetch multiple pages, use the query parameters. For example, to limit the
        page to 5 sweeps and to skip the first 10, use
        `/balanceAccounts/{balanceAccountId}/sweeps?limit=5&offset=10`.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            offset (int, optional): The number of items that you want to skip.
            limit (int, optional): The number of items returned per page, maximum 100
                items. By default, the response returns 10 items per page.

        Returns:
            BalanceSweepConfigurationsResponse: Response from the API. OK - the
                request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{balanceAccountId}/sweeps")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalanceSweepConfigurationsResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_balance_accounts_balance_account_id_sweeps(self,
                                                        balance_account_id,
                                                        body=None):
        """Perform a POST request to
        /balanceAccounts/{balanceAccountId}/sweeps.

        Creates a sweep that results in moving funds from or to a balance account.
        A sweep pulls in or pushes out funds based on a defined schedule, amount,
        currency, and a source or a destination.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            body (CreateSweepConfigurationV2, optional): The request body parameter.

        Returns:
            SweepConfigurationV2: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{balanceAccountId}/sweeps")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SweepConfigurationV2.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_balance_accounts_balance_account_id_sweeps_sweep_id(self,
                                                                balance_account_id,
                                                                sweep_id):
        """Perform a GET request to
        /balanceAccounts/{balanceAccountId}/sweeps/{sweepId}.

        Returns a sweep.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            sweep_id (str): The unique identifier of the sweep.

        Returns:
            SweepConfigurationV2: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{balanceAccountId}/sweeps/{sweepId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("sweepId")
                .value(sweep_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SweepConfigurationV2.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def delete_balance_accounts_balance_account_id_sweeps_sweep_id(self,
                                                                   balance_account_id,
                                                                   sweep_id):
        """Perform a DELETE request to
        /balanceAccounts/{balanceAccountId}/sweeps/{sweepId}.

        Deletes a sweep for a balance account.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            sweep_id (str): The unique identifier of the sweep.

        Returns:
            void: Response from the API. No Content - look at the actual response
                code for the status of the request.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{balanceAccountId}/sweeps/{sweepId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("sweepId")
                .value(sweep_id)
                .should_encode(True))
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()

    def patch_balance_accounts_balance_account_id_sweeps_sweep_id(self,
                                                                  balance_account_id,
                                                                  sweep_id,
                                                                  body=None):
        """Perform a PATCH request to
        /balanceAccounts/{balanceAccountId}/sweeps/{sweepId}.

        Updates a sweep. When updating a sweep resource, note that if a request
        parameter is not provided, the parameter is left unchanged.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            sweep_id (str): The unique identifier of the sweep.
            body (UpdateSweepConfigurationV2, optional): The request body parameter.

        Returns:
            SweepConfigurationV2: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{balanceAccountId}/sweeps/{sweepId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("sweepId")
                .value(sweep_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SweepConfigurationV2.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
