"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.mandates_401_error_exception import (
    Mandates401ErrorException,
)
from adyen.exceptions.mandates_403_error_exception import (
    Mandates403ErrorException,
)
from adyen.exceptions.mandates_404_error_exception import (
    Mandates404ErrorException,
)
from adyen.exceptions.mandates_422_error_exception import (
    Mandates422ErrorException,
)
from adyen.exceptions.mandates_500_error_exception import (
    Mandates500ErrorException,
)
from adyen.exceptions.mandates_cancel_401_error_exception import (
    MandatesCancel401ErrorException,
)
from adyen.exceptions.mandates_cancel_403_error_exception import (
    MandatesCancel403ErrorException,
)
from adyen.exceptions.mandates_cancel_404_error_exception import (
    MandatesCancel404ErrorException,
)
from adyen.exceptions.mandates_cancel_422_error_exception import (
    MandatesCancel422ErrorException,
)
from adyen.exceptions.mandates_cancel_500_error_exception import (
    MandatesCancel500ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.list_mandates_response import (
    ListMandatesResponse,
)
from adyen.models.mandate import Mandate


class DirectDebitMandatesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize DirectDebitMandatesApi object."""
        super(DirectDebitMandatesApi, self).__init__(config)

    def get_mandates(self,
                     balance_account_id=None,
                     payment_instrument_id=None,
                     cursor=None):
        """Perform a GET request to /mandates.

        Returns a list of all [direct debit
        mandates](https://docs.adyen.com/business-accounts/accept-direct-debits-uk)
        created for a business account.

        Args:
            balance_account_id (str, optional): The unique identifier of the balance
                account linked to the payment instrument.
            payment_instrument_id (str, optional): The unique identifier of the
                payment instrument linked to the mandate.
            cursor (str, optional): The pagination cursor returned in a previous GET
                `/mandates` request.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/mandates")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id))
            .query_param(Parameter()
                .key("paymentInstrumentId")
                .value(payment_instrument_id))
            .query_param(Parameter()
                .key("cursor")
                .value(cursor))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListMandatesResponse.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                Mandates401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                Mandates403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                Mandates422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                Mandates500ErrorException),
        ).execute()

    def get_mandates_mandate_id(self,
                                mandate_id):
        """Perform a GET request to /mandates/{mandateId}.

        Returns the details of the specified [direct debit
        mandate](https://docs.adyen.com/business-accounts/accept-direct-debits-uk).

        Args:
            mandate_id (str): The unique identifier of the mandate.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/mandates/{mandateId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("mandateId")
                .value(mandate_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Mandate.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                Mandates401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                Mandates403ErrorException)
            .local_error("404",
                "The mandate was not found.",
                Mandates404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                Mandates422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                Mandates500ErrorException),
        ).execute()

    def patch_mandates_mandate_id(self,
                                  mandate_id,
                                  body):
        """Perform a PATCH request to /mandates/{mandateId}.

        Amend the specified [direct debit
        mandate](https://docs.adyen.com/business-accounts/accept-direct-debits-uk).

        Args:
            mandate_id (str): The unique identifier of the mandate.
            body (MandateUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Accepted - The request
                has been accepted

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/mandates/{mandateId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("mandateId")
                .value(mandate_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                Mandates401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                Mandates403ErrorException)
            .local_error("404",
                "The mandate was not found",
                Mandates404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                Mandates422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                Mandates500ErrorException),
        ).execute()

    def post_mandates_mandate_id_cancel(self,
                                        mandate_id):
        """Perform a POST request to /mandates/{mandateId}/cancel.

        Cancel a specified [direct debit
        mandate](https://docs.adyen.com/business-accounts/accept-direct-debits-uk).

        Args:
            mandate_id (str): The unique identifier of the mandate.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Accepted - The request
                has been accepted

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/mandates/{mandateId}/cancel")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("mandateId")
                .value(mandate_id)
                .is_required(True)
                .should_encode(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                MandatesCancel401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                MandatesCancel403ErrorException)
            .local_error("404",
                "The mandate was not found.",
                MandatesCancel404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                MandatesCancel422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                MandatesCancel500ErrorException),
        ).execute()
