"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.attach_document_response import (
    AttachDocumentResponse,
)
from adyen.models.dispute_attachment import (
    DisputeAttachment,
)


class DisputeAttachmentsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize DisputeAttachmentsApi object."""
        super(DisputeAttachmentsApi, self).__init__(config)

    def get_disputes_dispute_id_attachments(self,
                                            dispute_id):
        """Perform a GET request to /disputes/{disputeId}/attachments.

        Get a list of attachments associated with a dispute ID.

        Args:
            dispute_id (str): The unique identifier of the raised dispute.

        Returns:
            List[DisputeAttachment]: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT23)
            .path("/disputes/{disputeId}/attachments")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("disputeId")
                .value(dispute_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputeAttachment.from_dictionary)
            .local_error("401",
                "Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_disputes_dispute_id_attachments(self,
                                             dispute_id,
                                             body):
        """Perform a POST request to /disputes/{disputeId}/attachments.

        Add supporting information as an attachment for the raised dispute. Upload
        receipts, communication, or any other documentation to support the dispute.

        Args:
            dispute_id (str): The unique identifier of the raised dispute.
            body (DisputeAttachment): The request body parameter.

        Returns:
            AttachDocumentResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT23)
            .path("/disputes/{disputeId}/attachments")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("disputeId")
                .value(dispute_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AttachDocumentResponse.from_dictionary)
            .local_error("401",
                "Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def delete_disputes_dispute_id_attachments_attachment_id(self,
                                                             dispute_id,
                                                             attachment_id):
        """Perform a DELETE request to
        /disputes/{disputeId}/attachments/{attachmentId}.

        Removes the attachment from the raised dispute. Adyen may keep this file for
        compliance purposes.

        Args:
            dispute_id (str): The unique identifier of the raised dispute.
            attachment_id (str): The unique identifier of the attachment.

        Returns:
            void: Response from the API. The attachment was successfully removed

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT23)
            .path("/disputes/{disputeId}/attachments/{attachmentId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("disputeId")
                .value(dispute_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("attachmentId")
                .value(attachment_id)
                .should_encode(True)),
        ).execute()

    def get_disputes_dispute_id_attachments_attachment_id(self,
                                                          dispute_id,
                                                          attachment_id):
        """Perform a GET request to
        /disputes/{disputeId}/attachments/{attachmentId}.

        Search for a single attachment, providing the specific dispute ID and
        attachment ID.

        Args:
            dispute_id (str): The unique identifier of the raised dispute.
            attachment_id (str): The unique identifier of the attachment.

        Returns:
            DisputeAttachment: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT23)
            .path("/disputes/{disputeId}/attachments/{attachmentId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("disputeId")
                .value(dispute_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("attachmentId")
                .value(attachment_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputeAttachment.from_dictionary)
            .local_error("401",
                "Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()
