"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.disputes_attachments_401_error_exception import (
    DisputesAttachments401ErrorException,
)
from adyen.exceptions.disputes_attachments_403_error_exception import (
    DisputesAttachments403ErrorException,
)
from adyen.exceptions.disputes_attachments_422_error_exception import (
    DisputesAttachments422ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.attach_document_response import (
    AttachDocumentResponse,
)
from adyen.models.dispute_attachment import (
    DisputeAttachment,
)


class DisputeAttachmentsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize DisputeAttachmentsApi object."""
        super(DisputeAttachmentsApi, self).__init__(config)

    def get_disputes_dispute_id_attachments(self,
                                            dispute_id):
        """Perform a GET request to /disputes/{disputeId}/attachments.

        Get a list of attachments associated with a dispute ID.

        Args:
            dispute_id (str): The unique identifier of the raised dispute.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/disputes/{disputeId}/attachments")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("disputeId")
                .value(dispute_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputeAttachment.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Authentication required.",
                DisputesAttachments401ErrorException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DisputesAttachments403ErrorException)
            .local_error("422",
                "A request validation error.",
                DisputesAttachments422ErrorException),
        ).execute()

    def post_disputes_dispute_id_attachments(self,
                                             dispute_id,
                                             body):
        """Perform a POST request to /disputes/{disputeId}/attachments.

        Add supporting information as an attachment for the raised dispute. Upload
        receipts, communication, or any other documentation to support the dispute.

        Args:
            dispute_id (str): The unique identifier of the raised dispute.
            body (DisputeAttachment): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/disputes/{disputeId}/attachments")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("disputeId")
                .value(dispute_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AttachDocumentResponse.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Authentication required.",
                DisputesAttachments401ErrorException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DisputesAttachments403ErrorException)
            .local_error("422",
                "A request validation error.",
                DisputesAttachments422ErrorException),
        ).execute()

    def delete_disputes_dispute_id_attachments_attachment_id(self,
                                                             dispute_id,
                                                             attachment_id):
        """Perform a DELETE request to
        /disputes/{disputeId}/attachments/{attachmentId}.

        Removes the attachment from the raised dispute. Adyen may keep this file for
        compliance purposes.

        Args:
            dispute_id (str): The unique identifier of the raised dispute.
            attachment_id (str): The unique identifier of the attachment.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The attachment was
                successfully removed

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/disputes/{disputeId}/attachments/{attachmentId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("disputeId")
                .value(dispute_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("attachmentId")
                .value(attachment_id)
                .is_required(True)
                .should_encode(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("401",
                "Authentication required.",
                DisputesAttachments401ErrorException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DisputesAttachments403ErrorException)
            .local_error("422",
                "A request validation error.",
                DisputesAttachments422ErrorException),
        ).execute()

    def get_disputes_dispute_id_attachments_attachment_id(self,
                                                          dispute_id,
                                                          attachment_id):
        """Perform a GET request to
        /disputes/{disputeId}/attachments/{attachmentId}.

        Search for a single attachment, providing the specific dispute ID and
        attachment ID.

        Args:
            dispute_id (str): The unique identifier of the raised dispute.
            attachment_id (str): The unique identifier of the attachment.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/disputes/{disputeId}/attachments/{attachmentId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("disputeId")
                .value(dispute_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("attachmentId")
                .value(attachment_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputeAttachment.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Authentication required.",
                DisputesAttachments401ErrorException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DisputesAttachments403ErrorException)
            .local_error("422",
                "A request validation error.",
                DisputesAttachments422ErrorException),
        ).execute()
