"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_error_1_exception import (
    ServiceErrorError1Exception,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.document import Document


class DocumentsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize DocumentsApi object."""
        super(DocumentsApi, self).__init__(config)

    def post_documents(self,
                       x_requested_verification_code=None,
                       body=None):
        """Perform a POST request to /documents.

        Uploads a document for verification checks.
         Adyen uses the information from the [legal
        entity](https://docs.adyen.com/api-explorer/#/legalentity/latest/post/legalEnt
        ities) to run automated verification checks. If these checks fail, you will
        be notified to provide additional documents.
         You should only upload documents when Adyen requests additional information
        for the legal entity.
         >You can upload a maximum of 15 pages for photo IDs.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            x_requested_verification_code (str, optional): Use a suberror code as
                your requested verification code. You can include one code at a time
                in your request header. Requested verification codes can only be used
                in your test environment.
            body (Document, optional): The request body parameter.

        Returns:
            Document: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/documents")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("x-requested-verification-code")
                .value(x_requested_verification_code))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def get_documents_id(self,
                         id,
                         skip_content=None):
        """Perform a GET request to /documents/{id}.

        Returns a document.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the document.
            skip_content (bool, optional): Do not load document content while
                fetching the document.

        Returns:
            Document: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/documents/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .query_param(Parameter()
                .key("skipContent")
                .value(skip_content))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def delete_documents_id(self,
                            id):
        """Perform a DELETE request to /documents/{id}.

        Deletes a document.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the document to be deleted.

        Returns:
            void: Response from the API. No Content - look at the actual response
                code for the status of the request.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/documents/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()

    def patch_documents_id(self,
                           id,
                           x_requested_verification_code=None,
                           body=None):
        """Perform a PATCH request to /documents/{id}.

        Updates a document.
         >You can upload a maximum of 15 pages for photo IDs.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the document to be updated.
            x_requested_verification_code (str, optional): Use the requested
                verification code 0_0001 to resolve any suberrors associated with the
                document. Requested verification codes can only be used in your test
                environment.
            body (Document, optional): The request body parameter.

        Returns:
            Document: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/documents/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("x-requested-verification-code")
                .value(x_requested_verification_code))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()
