"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.donation_campaign_1 import (
    DonationCampaign1,
)
from adyen.models.list_donation_campaigns_response import (
    ListDonationCampaignsResponse,
)
from adyen.models.list_nonprofits_response import (
    ListNonprofitsResponse,
)


class DonationCampaignsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize DonationCampaignsApi object."""
        super(DonationCampaignsApi, self).__init__(config)

    def post_companies_company_id_campaign_management(self,
                                                      company_id,
                                                      body=None):
        """Perform a POST request to /companies/{companyId}/campaignManagement.

        Creates a new donation campaign, to give shoppers the option to donate to a
        nonprofit organization when making a payment. A campaign can be for online
        payments, in-person payments, or both online and in-person payments.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Campaign Management read and write

        Args:
            company_id (str): The unique identifier of the company account.
            body (DonationCampaignRequest, optional): The request body parameter.

        Returns:
            DonationCampaign1: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/campaignManagement")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DonationCampaign1.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def get_companies_company_id_campaign_management_account_holders_account_holder_id(self,
                                                                                       company_id,
                                                                                       account_holder_id,
                                                                                       status=None,
                                                                                       page_number=1,
                                                                                       page_size=10):
        """Perform a GET request to
        /companies/{companyId}/campaignManagement/accountHolders/{accountHolderId}.

        Returns a paginated list of donation campaigns associated with the account
        holder specified in the path. You can filter the list by campaign status.
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Campaign Management read
        * Management API—Campaign Management read and write

        Args:
            company_id (str): The unique identifier of the company account.
            account_holder_id (str): The unique identifier of the account holder.
            status (str, optional): The campaign status to return campaigns that
                match. Allowed values: **inactive**, **active**, or **ended**.
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 10 items on a page.

        Returns:
            ListDonationCampaignsResponse: Response from the API. OK - the request
                has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/campaignManagement/accountHolders/{accountHolderId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("accountHolderId")
                .value(account_holder_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListDonationCampaignsResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def delete_companies_company_id_campaign_management_donation_campaign_id(self,
                                                                             company_id,
                                                                             donation_campaign_id):
        """Perform a DELETE request to
        /companies/{companyId}/campaignManagement/{donationCampaignId}.

        Removes the donation campaign specified in the path. This request is only
        allowed if the campaign has the status **inactive**.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Campaign Management read and write

        Args:
            company_id (str): The unique identifier of the company account.
            donation_campaign_id (str): The unique identifier of the donation
                campaign to be deleted.

        Returns:
            void: Response from the API. No Content - the request has been
                successfully processed, but there is no additional content.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/campaignManagement/{donationCampaignId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("donationCampaignId")
                .value(donation_campaign_id)
                .should_encode(True))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()

    def patch_companies_company_id_campaign_management_donation_campaign_id(self,
                                                                            company_id,
                                                                            donation_campaign_id,
                                                                            body=None):
        """Perform a PATCH request to
        /companies/{companyId}/campaignManagement/{donationCampaignId}.

        Updates the properties of the donation campaign specified in the path. Note
        the following restrictions:
        * You cannot use a PATCH request to update the campaign status. To activate
        or end a campaign, make a POST request to the
        `/campaignManagement/{campaignId}/status/{status}` endpoint.
        * You get a validation error if you add account holders that are not
        compatible with the nonprofit.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Campaign Management read and write

        Args:
            company_id (str): The unique identifier of the company account.
            donation_campaign_id (str): The unique identifier of the donation
                campaign to be updated.
            body (DonationCampaignUpdate, optional): The request body parameter.

        Returns:
            DonationCampaign1: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/campaignManagement/{donationCampaignId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("donationCampaignId")
                .value(donation_campaign_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DonationCampaign1.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_companies_company_id_campaign_management_donation_campaign_id_status_status(self,
                                                                                         company_id,
                                                                                         donation_campaign_id,
                                                                                         status):
        """Perform a POST request to
        /companies/{companyId}/campaignManagement/{donationCampaignId}/status/{status}.

        Starts or stops the donation campaign specified in the path, by providing a
        path parameter.
        Use the path parameter **activate** to start an inactive campaign, or **end**
        to stop an active campaign. Other status transitions are not allowed.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Campaign Management read and write

        Args:
            company_id (str): The unique identifier of the company account.
            donation_campaign_id (str): The unique identifier of the donation
                campaign to activate or end.
            status (CampaignStatusTransitionEnum): The desired status change.
                Possible values: **activate** or **end**.

        Returns:
            DonationCampaign1: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/campaignManagement/{donationCampaignId}/status/{status}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("donationCampaignId")
                .value(donation_campaign_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("status")
                .value(status)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DonationCampaign1.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_companies_company_id_nonprofits(self,
                                             company_id,
                                             search_term=None,
                                             page_number=None,
                                             page_size=10,
                                             goal=None,
                                             body=None):
        """Perform a POST request to /companies/{companyId}/nonprofits.

        Returns a list of supported nonprofit organizations to choose from when
        creating a donation campaign. The list only contains nonprofits that are
        compatible with all the account holders specified in the request.

        Args:
            company_id (str): The unique identifier of the company account.
            search_term (str, optional): A query to return nonprofit organizations
                for, maximum 100 characters. For example, `&searchTerm=clean%20water`.
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 10 items on a page.
            goal (List[str], optional): One or more United Nations Sustainable
                Development Goals to return nonprofit organizations for. Format:
                `unsdg_<number>`, for example, `&goal=unsdg_6&goal=unsdg_2`.
            body (ListNonprofitsRequest, optional): The request body parameter.

        Returns:
            ListNonprofitsResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/nonprofits")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .query_param(Parameter()
                .key("searchTerm")
                .value(search_term))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("goal")
                .value(goal))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListNonprofitsResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()
