"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.dynamic_offers_422_error_exception import (
    DynamicOffers422ErrorException,
)
from adyen.exceptions.dynamic_offers_calculate_422_error_exception import (
    DynamicOffersCalculate422ErrorException,
)
from adyen.exceptions.dynamic_offers_grant_offer_422_error_exception import (
    DynamicOffersGrantOffer422ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.calculated_grant_offer import (
    CalculatedGrantOffer,
)
from adyen.models.get_dynamic_offers_response import (
    GetDynamicOffersResponse,
)
from adyen.models.grant_offer_1 import GrantOffer1


class DynamicOffersApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize DynamicOffersApi object."""
        super(DynamicOffersApi, self).__init__(config)

    def get_dynamic_offers(self,
                           account_holder_id,
                           financing_type=None):
        """Perform a GET request to /dynamicOffers.

        Returns a list of all [dynamic
        offers](https://docs.adyen.com/capital/get-grant-offers/dynamic-offers/)
        available for `accountHolderId` specified as a query parameter.

        Args:
            account_holder_id (str): The unique identifier of the account holder that
                the dynamic offer is for.
            financing_type (FinancingType1, optional): The type of financing that the
                offer is for. If the value is not specified, returns all available
                types.  Possible values: **businessFinancing**

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/dynamicOffers")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("accountHolderId")
                .value(account_holder_id)
                .is_required(True))
            .query_param(Parameter()
                .key("financingType")
                .value(financing_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetDynamicOffersResponse.from_dictionary)
            .is_api_response(True)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DynamicOffers422ErrorException),
        ).execute()

    def post_dynamic_offers_id_calculate(self,
                                         id,
                                         body=None):
        """Perform a POST request to /dynamicOffers/{id}/calculate.

        Calculates a preliminary offer for the financing amount that the user
        selected from a [dynamic
        offer](https://docs.adyen.com/capital/get-grant-offers/dynamic-offers/). The
        preliminary offer is for informational purposes only and cannot be used to
        initiate a grant.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 120 requests per minute.
        - Test environments: 120 requests per minute.

        Args:
            id (str): The unique identifier of the dynamic offer from which the user
                selected the financing amount.
            body (CalculateGrantOfferRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/dynamicOffers/{id}/calculate")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CalculatedGrantOffer.from_dictionary)
            .is_api_response(True)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DynamicOffersCalculate422ErrorException),
        ).execute()

    def post_dynamic_offers_id_grant_offer(self,
                                           id,
                                           body=None):
        """Perform a POST request to /dynamicOffers/{id}/grantOffer.

        Creates a static offer for the financing amount that the user selected from
        the [dynamic
        offer](https://docs.adyen.com/capital/get-grant-offers/dynamic-offers/).
        Requests to this endpoint are subject to rate limits:
        - Live environments: 30 requests per minute.
        - Test environments: 30 requests per minute.

        Args:
            id (str): The unique identifier of the dynamic offer from which the user
                selected the financing amount.
            body (CreateGrantOfferRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/dynamicOffers/{id}/grantOffer")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GrantOffer1.from_dictionary)
            .is_api_response(True)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DynamicOffersGrantOffer422ErrorException),
        ).execute()
