"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.grants_404_error_exception import (
    Grants404ErrorException,
)
from adyen.exceptions.grants_422_error_exception import (
    Grants422ErrorException,
)
from adyen.exceptions.grants_disbursements_404_error_exception import (
    GrantsDisbursements404ErrorException,
)
from adyen.exceptions.grants_disbursements_422_error_exception import (
    GrantsDisbursements422ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.disbursement import Disbursement
from adyen.models.disbursements import Disbursements
from adyen.models.grant import Grant
from adyen.models.grants import Grants


class GrantsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize GrantsApi object."""
        super(GrantsApi, self).__init__(config)

    def get_grants(self,
                   counterparty_account_holder_id):
        """Perform a GET request to /grants.

        Returns a list of all the grants of a specific account holder.

        Args:
            counterparty_account_holder_id (str): The unique identifier of the
                account holder that received the grants.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grants")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("counterpartyAccountHolderId")
                .value(counterparty_account_holder_id)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Grants.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Not Found - The entity was not found.",
                Grants404ErrorException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                Grants422ErrorException),
        ).execute()

    def post_grants(self,
                    body=None):
        """Perform a POST request to /grants.

        Make a request for a grant on behalf of an account holder.

        Args:
            body (GrantInfo, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grants")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Grant.from_dictionary)
            .is_api_response(True)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                Grants422ErrorException),
        ).execute()

    def get_grants_grant_id(self,
                            grant_id):
        """Perform a GET request to /grants/{grantId}.

        Returns the details of the specified grant.

        Args:
            grant_id (str): The unique identifier of the grant reference.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grants/{grantId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("grantId")
                .value(grant_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Grant.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Not Found - The entity was not found.",
                Grants404ErrorException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                Grants422ErrorException),
        ).execute()

    def get_grants_grant_id_disbursements(self,
                                          grant_id):
        """Perform a GET request to /grants/{grantId}/disbursements.

        Returns the disbursements of a specified grant.

        Args:
            grant_id (str): The unique identifier of the grant reference.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grants/{grantId}/disbursements")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("grantId")
                .value(grant_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Disbursements.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Not Found - The entity was not found.",
                GrantsDisbursements404ErrorException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                GrantsDisbursements422ErrorException),
        ).execute()

    def get_grants_grant_id_disbursements_disbursement_id(self,
                                                          grant_id,
                                                          disbursement_id):
        """Perform a GET request to
        /grants/{grantId}/disbursements/{disbursementId}.

        Returns the details of a disbursement specified in the path.

        Args:
            grant_id (str): The unique identifier of the grant reference.
            disbursement_id (str): The unique identifier of the disbursement.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grants/{grantId}/disbursements/{disbursementId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("grantId")
                .value(grant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("disbursementId")
                .value(disbursement_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Disbursement.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Not Found - The entity was not found.",
                GrantsDisbursements404ErrorException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                GrantsDisbursements422ErrorException),
        ).execute()

    def patch_grants_grant_id_disbursements_disbursement_id(self,
                                                            grant_id,
                                                            disbursement_id,
                                                            body):
        """Perform a PATCH request to
        /grants/{grantId}/disbursements/{disbursementId}.

        Update the percentage of your user's net income that is deducted for repaying
        the grant.

        Args:
            grant_id (str): The unique identifier of the grant reference.
            disbursement_id (str): The unique identifier of the disbursement.
            body (DisbursementInfoUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grants/{grantId}/disbursements/{disbursementId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("grantId")
                .value(grant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("disbursementId")
                .value(disbursement_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Disbursement.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Not Found - The entity was not found.",
                GrantsDisbursements404ErrorException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                GrantsDisbursements422ErrorException),
        ).execute()
