"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.grant_offers_404_error_exception import (
    GrantOffers404ErrorException,
)
from adyen.exceptions.grant_offers_422_error_3_exception import (
    GrantOffers422Error3Exception,
)
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.grant_offer import GrantOffer
from adyen.models.grant_offer_1 import GrantOffer1
from adyen.models.grant_offers import GrantOffers


class GrantOffersApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize GrantOffersApi object."""
        super(GrantOffersApi, self).__init__(config)

    @deprecated()
    def get_grant_offers(self,
                         account_holder_id):
        """Perform a GET request to /grantOffers.

        Returns a list of all [grant
        offers](https://docs.adyen.com/platforms/capital#grant-offers) available for
        `accountHolderId` specified as a query parameter.

        Args:
            account_holder_id (str): The unique identifier of the grant account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grantOffers")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("accountHolderId")
                .value(account_holder_id)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GrantOffers.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    @deprecated()
    def get_grant_offers_grant_offer_id(self,
                                        grant_offer_id):
        """Perform a GET request to /grantOffers/{grantOfferId}.

        Returns the details of a single grant offer.

        Args:
            grant_offer_id (str): The unique identifier of the grant offer.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grantOffers/{grantOfferId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("grantOfferId")
                .value(grant_offer_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GrantOffer.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_grant_offers_id(self,
                            id):
        """Perform a GET request to /grantOffers/{id}.

        Returns the details of the specified static offer.

        Args:
            id (str): The unique identifier of the static offer.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/grantOffers/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GrantOffer1.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Not Found - The entity was not found.",
                GrantOffers404ErrorException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                GrantOffers422Error3Exception),
        ).execute()
