"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_exception import (
    ServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.onboarding_link import OnboardingLink
from adyen.models.onboarding_theme import OnboardingTheme
from adyen.models.onboarding_themes import OnboardingThemes


class HostedOnboardingApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize HostedOnboardingApi object."""
        super(HostedOnboardingApi, self).__init__(config)

    def post_legal_entities_id_onboarding_links(self,
                                                id,
                                                body=None):
        """Perform a POST request to /legalEntities/{id}/onboardingLinks.

        Returns a link to an Adyen-hosted onboarding page where you need to redirect
        your user.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity
            body (OnboardingLinkInfo, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/onboardingLinks")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(OnboardingLink.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def get_themes(self):
        """Perform a GET request to /themes.

        Returns a list of hosted onboarding page themes.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/themes")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(OnboardingThemes.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def get_themes_id(self,
                      id):
        """Perform a GET request to /themes/{id}.

        Returns the details of the theme identified in the path.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the theme

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/themes/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(OnboardingTheme.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()
