"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.ideal_auth_link_response import (
    IdealAuthLinkResponse,
)
from adyen.models.ideal_authenticate_response import (
    IdealAuthenticateResponse,
)
from adyen.models.profile_registration_response import (
    ProfileRegistrationResponse,
)


class IDEALProfilesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize IDEALProfilesApi object."""
        super(IDEALProfilesApi, self).__init__(config)

    def post_ideal_profile_auth_link(self,
                                     body):
        """Perform a POST request to /ideal/profile/auth-link.

        Manage an already registered iDEAL profile. Generates a redirection URL to
        manage the iDEAL profile linked to the account holder from the request.

        Args:
            body (IdealAuthLinkRequest): The request body parameter.

        Returns:
            IdealAuthLinkResponse: Response from the API. OK - The request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT20)
            .path("/ideal/profile/auth-link")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IdealAuthLinkResponse.from_dictionary)
            .local_error("400",
                "Bad Request - The request is malformed or is not the expected format"
                ".",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Service Error - An unrecoverable error occurred while tryin"
                "g to perform the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_ideal_profile_authenticate(self,
                                        body):
        """Perform a POST request to /ideal/profile/authenticate.

        Generates an redirection URL to finish the authentication flow when requested
        by iDEAL. Before calling this endpoint, make sure that your user has
        completed multi-factor authentication.

        Args:
            body (IdealAuthenticateRequest): The request body parameter.

        Returns:
            IdealAuthenticateResponse: Response from the API. OK - The request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT20)
            .path("/ideal/profile/authenticate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IdealAuthenticateResponse.from_dictionary)
            .local_error("400",
                "Bad Request - The request is malformed or is not the expected format"
                ".",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Service Error - An unrecoverable error occurred while tryin"
                "g to perform the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_ideal_profile_register(self,
                                    body):
        """Perform a POST request to /ideal/profile/register.

        Register a new iDEAL profile. The profile is linked to the account holder and
        payment instruments included in the request. The user must be redirected to
        the URL in the response to finish their IDEAL profile registration.

        Args:
            body (ProfileRegistrationRequest): The request body parameter.

        Returns:
            ProfileRegistrationResponse: Response from the API. OK - The request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT20)
            .path("/ideal/profile/register")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ProfileRegistrationResponse.from_dictionary)
            .local_error("400",
                "Bad Request - The request is malformed or is not the expected format"
                ".",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Service Error - An unrecoverable error occurred while tryin"
                "g to perform the request.",
                DefaultErrorResponseEntityException),
        ).execute()
