"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_error_1_exception import (
    ServiceErrorError1Exception,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.business_lines import BusinessLines
from adyen.models.data_review_confirmation_response import (
    DataReviewConfirmationResponse,
)
from adyen.models.legal_entity_3 import LegalEntity3
from adyen.models.verification_errors import (
    VerificationErrors,
)


class LegalEntitiesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize LegalEntitiesApi object."""
        super(LegalEntitiesApi, self).__init__(config)

    def post_legal_entities(self,
                            x_requested_verification_code=None,
                            body=None):
        """Perform a POST request to /legalEntities.

        Creates a legal entity.
        This resource contains information about the user that will be onboarded in
        your platform. Adyen uses this information to perform verification checks as
        required by payment industry regulations. Adyen informs you of the
        verification results through webhooks or API responses.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            x_requested_verification_code (str, optional): Use a suberror code as
                your requested verification code. You can include one code at a time
                in your request header. Requested verification codes can only be used
                in your test environment.
            body (LegalEntityInfoRequiredType, optional): The request body parameter.

        Returns:
            LegalEntity3: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/legalEntities")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("x-requested-verification-code")
                .value(x_requested_verification_code))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LegalEntity3.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def get_legal_entities_id(self,
                              id):
        """Perform a GET request to /legalEntities/{id}.

        Returns a legal entity.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity.

        Returns:
            LegalEntity3: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/legalEntities/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LegalEntity3.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def patch_legal_entities_id(self,
                                id,
                                x_requested_verification_code=None,
                                body=None):
        """Perform a PATCH request to /legalEntities/{id}.

        Updates a legal entity.
         >To change the legal entity type, include only the new `type` in your
        request.
        If you need to update information for the legal entity, make a separate
        request. To update the `entityAssociations` array, you need to replace the
        entire array.For example, if the array has 3 entries and you want to remove 1
        entry, you need to PATCH the resource with the remaining 2 entries.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity.
            x_requested_verification_code (str, optional): Use the requested
                verification code 0_0001 to resolve any suberrors associated with the
                legal entity. Requested verification codes can only be used in your
                test environment.
            body (LegalEntityInfo, optional): The request body parameter.

        Returns:
            LegalEntity3: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/legalEntities/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("x-requested-verification-code")
                .value(x_requested_verification_code))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LegalEntity3.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def get_legal_entities_id_business_lines(self,
                                             id):
        """Perform a GET request to /legalEntities/{id}/businessLines.

        Returns the business lines owned by a legal entity.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity.

        Returns:
            BusinessLines: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/legalEntities/{id}/businessLines")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BusinessLines.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def post_legal_entities_id_check_verification_errors(self,
                                                         id):
        """Perform a POST request to
        /legalEntities/{id}/checkVerificationErrors.

        Returns the verification errors for a legal entity and its supporting
        entities.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity.

        Returns:
            VerificationErrors: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/legalEntities/{id}/checkVerificationErrors")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(VerificationErrors.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def post_legal_entities_id_confirm_data_review(self,
                                                   id):
        """Perform a POST request to /legalEntities/{id}/confirmDataReview.

        Confirms that your user has reviewed the data for the legal entity specified
        in the path. Call this endpoint to inform Adyen that your user reviewed and
        verified that the data is up-to-date. The endpoint returns the timestamp of
        when Adyen received the request.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity.

        Returns:
            DataReviewConfirmationResponse: Response from the API. OK - the request
                has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/legalEntities/{id}/confirmDataReview")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DataReviewConfirmationResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorError1Exception),
        ).execute()

    def post_legal_entities_id_request_periodic_review(self,
                                                       id):
        """Perform a POST request to /legalEntities/{id}/requestPeriodicReview.

        Requests a periodic data review for the legal entity of the user specified in
        the path.

        Args:
            id (str): The unique identifier of the legal entity.

        Returns:
            Any: Response from the API. No Content - the request has been
                successfully processed, but there is no additional content.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT18)
            .path("/legalEntities/{id}/requestPeriodicReview")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize),
        ).execute()
