"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.balance_accounts_payout_schedules_401_error_exception import (
    BalanceAccountsPayoutSchedules401ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_403_error_exception import (
    BalanceAccountsPayoutSchedules403ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_404_error_exception import (
    BalanceAccountsPayoutSchedules404ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_422_error_exception import (
    BalanceAccountsPayoutSchedules422ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_500_error_exception import (
    BalanceAccountsPayoutSchedules500ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_executions_401_error_exception import (  # noqa: E501
    BalanceAccountsPayoutSchedulesExecutions401ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_executions_403_error_exception import (  # noqa: E501
    BalanceAccountsPayoutSchedulesExecutions403ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_executions_404_error_exception import (  # noqa: E501
    BalanceAccountsPayoutSchedulesExecutions404ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_executions_422_error_exception import (  # noqa: E501
    BalanceAccountsPayoutSchedulesExecutions422ErrorException,
)
from adyen.exceptions.balance_accounts_payout_schedules_executions_500_error_exception import (  # noqa: E501
    BalanceAccountsPayoutSchedulesExecutions500ErrorException,
)
from adyen.exceptions.balance_platforms_payout_schedules_401_error_exception import (
    BalancePlatformsPayoutSchedules401ErrorException,
)
from adyen.exceptions.balance_platforms_payout_schedules_403_error_exception import (
    BalancePlatformsPayoutSchedules403ErrorException,
)
from adyen.exceptions.balance_platforms_payout_schedules_404_error_exception import (
    BalancePlatformsPayoutSchedules404ErrorException,
)
from adyen.exceptions.balance_platforms_payout_schedules_422_error_exception import (
    BalancePlatformsPayoutSchedules422ErrorException,
)
from adyen.exceptions.balance_platforms_payout_schedules_500_error_exception import (
    BalancePlatformsPayoutSchedules500ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.balance_account_configuration import (
    BalanceAccountConfiguration,
)
from adyen.models.balance_account_configurations import (
    BalanceAccountConfigurations,
)
from adyen.models.balance_platform_configuration import (
    BalancePlatformConfiguration,
)
from adyen.models.balance_platform_configurations import (
    BalancePlatformConfigurations,
)
from adyen.models.payout_schedule_executions import (
    PayoutScheduleExecutions,
)


class ManagedPayoutSchedulesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize ManagedPayoutSchedulesApi object."""
        super(ManagedPayoutSchedulesApi, self).__init__(config)

    def get_balance_accounts_balance_account_id_payout_schedules(self,
                                                                 balance_account_id,
                                                                 currency=None,
                                                                 cursor=None,
                                                                 limit=10):
        """Perform a GET request to
        /balanceAccounts/{balanceAccountId}/payoutSchedules.

        Returns a list of all managed payout schedules that are configured on a
        balance account. You can use query parameters to filter the elements that are
        returned in the list.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            currency (str, optional): The three-character [ISO currency
                code](https://docs.adyen.com/development-resources/currency-codes) of
                the currency used in the payout schedule.
            cursor (str, optional): The `cursor` returned in the links of the
                previous response.
            limit (int, optional): The number of items returned per page, maximum of
                100 items. By default, the response returns 10 items per page.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/payoutSchedules")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("currency")
                .value(currency))
            .query_param(Parameter()
                .key("cursor")
                .value(cursor))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalanceAccountConfigurations.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsPayoutSchedules401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsPayoutSchedules403ErrorException)
            .local_error("404",
                "Not Found - the resource was not found",
                BalanceAccountsPayoutSchedules404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsPayoutSchedules422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalanceAccountsPayoutSchedules500ErrorException),
        ).execute()

    def post_balance_accounts_balance_account_id_payout_schedules(self,
                                                                  balance_account_id,
                                                                  body):
        """Perform a POST request to
        /balanceAccounts/{balanceAccountId}/payoutSchedules.

        Apply a managed payout schedule to a balance account. This payout schedule is
        based on an existing payout schedule in your balance platform.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            body (BalanceAccountConfigurationRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/payoutSchedules")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalanceAccountConfiguration.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsPayoutSchedules401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsPayoutSchedules403ErrorException)
            .local_error("404",
                "Not Found - the resource was not found",
                BalanceAccountsPayoutSchedules404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsPayoutSchedules422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalanceAccountsPayoutSchedules500ErrorException),
        ).execute()

    def get_balance_accounts_balance_account_id_payout_schedules_id(self,
                                                                    balance_account_id,
                                                                    id):
        """Perform a GET request to
        /balanceAccounts/{balanceAccountId}/payoutSchedules/{id}.

        Returns the specified payout schedule.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            id (str): The unique identifier of the payout schedule for the balance
                account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalanceAccountConfiguration.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsPayoutSchedules401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsPayoutSchedules403ErrorException)
            .local_error("404",
                "Not Found - the resource was not found",
                BalanceAccountsPayoutSchedules404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsPayoutSchedules422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalanceAccountsPayoutSchedules500ErrorException),
        ).execute()

    def delete_balance_accounts_balance_account_id_payout_schedules_id(self,
                                                                       balance_account_id,
                                                                       id):
        """Perform a DELETE request to
        /balanceAccounts/{balanceAccountId}/payoutSchedules/{id}.

        Delete a payout schedule applied to a balance account.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            id (str): The unique identifier of the payout schedule applied to the
                balance account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsPayoutSchedules401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsPayoutSchedules403ErrorException)
            .local_error("404",
                "Not Found - the resource was not found",
                BalanceAccountsPayoutSchedules404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsPayoutSchedules422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalanceAccountsPayoutSchedules500ErrorException),
        ).execute()

    def patch_balance_accounts_balance_account_id_payout_schedules_id(self,
                                                                      balance_account_id,
                                                                      id,
                                                                      body):
        """Perform a PATCH request to
        /balanceAccounts/{balanceAccountId}/payoutSchedules/{id}.

        Update a managed payout schedule applied to a balance account. If an optional
        parameter is not included in the request, it remains unchanged.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            id (str): The unique identifier of the payout schedule applied to the
                balance account.
            body (BalanceAccountConfigurationUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalanceAccountConfiguration.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsPayoutSchedules401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsPayoutSchedules403ErrorException)
            .local_error("404",
                "Not Found - the resource was not found",
                BalanceAccountsPayoutSchedules404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsPayoutSchedules422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalanceAccountsPayoutSchedules500ErrorException),
        ).execute()

    def get_balance_accounts_balance_account_id_payout_schedules_id_executions(self,
                                                                               balance_account_id,
                                                                               id,
                                                                               offset,
                                                                               results=None,
                                                                               limit=None):
        """Perform a GET request to
        /balanceAccounts/{balanceAccountId}/payoutSchedules/{id}/executions.

        View information about the executions of a managed payout schedule on the
        specified balance account. An execution is an attempt to make a payout
        according to the payout schedule.

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            id (str): The unique identifier of the payout schedule on the balance
                account.
            offset (int): The page number to be returned.  Default: **1**
            results (List[ExecutionResult], optional): Contains a list of payout
                statuses. If included, the response returns only executed payouts
                that currently have one of the specified statuses.  Possible
                statuses: - **succeeded**: The payout was sent successfully. -
                **failed**: The payout was not sent due to an error. - **skipped**:
                The payout was not triggered as expected.
            limit (int, optional): The number of items returned per page.  Default:
                **10**

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}/executions")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("offset")
                .value(offset)
                .is_required(True))
            .query_param(Parameter()
                .key("results")
                .value(results))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PayoutScheduleExecutions.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsPayoutSchedulesExecutions401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsPayoutSchedulesExecutions403ErrorException)
            .local_error("404",
                "Not Found - the resource was not found",
                BalanceAccountsPayoutSchedulesExecutions404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsPayoutSchedulesExecutions422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalanceAccountsPayoutSchedulesExecutions500ErrorException),
        ).execute()

    def get_balance_platforms_balance_platform_id_payout_schedules(self,
                                                                   balance_platform_id,
                                                                   country_code=None,
                                                                   currency=None):
        """Perform a GET request to
        /balancePlatforms/{balancePlatformId}/payoutSchedules.

        Returns a list of all the payout schedules that are configured for your
        balance platform. You can use query parameters to filter the elements that
        are returned in the list.

        Args:
            balance_platform_id (str): The unique identifier of the balance platform.
            country_code (str, optional): The two-letter [ISO 3166-1
                alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
                code of the country to which the payout configuration applies.
            currency (str, optional): The three-character [ISO currency
                code](https://docs.adyen.com/development-resources/currency-codes) of
                the currency used in the payout configuration.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balancePlatforms/{balancePlatformId}/payoutSchedules")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balancePlatformId")
                .value(balance_platform_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("countryCode")
                .value(country_code))
            .query_param(Parameter()
                .key("currency")
                .value(currency))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalancePlatformConfigurations.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalancePlatformsPayoutSchedules401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalancePlatformsPayoutSchedules403ErrorException)
            .local_error("404",
                "Not Found - the resource was not found",
                BalancePlatformsPayoutSchedules404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalancePlatformsPayoutSchedules422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalancePlatformsPayoutSchedules500ErrorException),
        ).execute()

    def get_balance_platforms_balance_platform_id_payout_schedules_id(self,
                                                                      balance_platform_id,
                                                                      id):
        """Perform a GET request to
        /balancePlatforms/{balancePlatformId}/payoutSchedules/{id}.

        Returns the specified managed payout schedule configured on your balance
        platform.

        Args:
            balance_platform_id (str): The unique identifier of the balance platform.
            id (str): The unique identifier of the payout configuration for your
                balance platform.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - The request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balancePlatforms/{balancePlatformId}/payoutSchedules/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balancePlatformId")
                .value(balance_platform_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalancePlatformConfiguration.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalancePlatformsPayoutSchedules401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalancePlatformsPayoutSchedules403ErrorException)
            .local_error("404",
                "Not Found - the resource was not found",
                BalancePlatformsPayoutSchedules404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalancePlatformsPayoutSchedules422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalancePlatformsPayoutSchedules500ErrorException),
        ).execute()
