"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.pin_change_response import (
    PinChangeResponse,
)
from adyen.models.public_key_response import (
    PublicKeyResponse,
)
from adyen.models.reveal_pin_response import (
    RevealPinResponse,
)


class ManageCardPINApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize ManageCardPINApi object."""
        super(ManageCardPINApi, self).__init__(config)

    def post_pins_change(self,
                         body=None):
        """Perform a POST request to /pins/change.

        Changes the personal identification number (PIN) of a specified card.
        To make this request, your API credential must have the following role:
        * Bank Issuing PIN Change Webservice role

        Args:
            body (PinChangeRequest, optional): The request body parameter.

        Returns:
            PinChangeResponse: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/pins/change")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PinChangeResponse.from_dictionary)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_pins_reveal(self,
                         body=None):
        """Perform a POST request to /pins/reveal.

        Returns an encrypted PIN block that contains the PIN of a specified card. You
        can use the decrypted data to reveal the PIN in your user interface.
        To make this request, your API credential must have the following role:
        * Bank Issuing PIN Reveal Webservice role

        Args:
            body (RevealPinRequest, optional): The request body parameter.

        Returns:
            RevealPinResponse: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/pins/reveal")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RevealPinResponse.from_dictionary)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_public_key(self,
                       purpose=None,
                       format=None):
        """Perform a GET request to /publicKey.

        Get an [RSA](https://en.wikipedia.org/wiki/RSA_(cryptosystem)) public key to
        encrypt or decrypt card data.
         You need the RSA public key to generate the `encryptedKey` required to:
        - [Change a
        PIN](https://docs.adyen.com/api-explorer/balanceplatform/2/post/pins/change).
        - [Reveal a
        PIN](https://docs.adyen.com/api-explorer/balanceplatform/2/post/pins/reveal).
        - [Reveal a
        PAN](https://docs.adyen.com/api-explorer/balanceplatform/2/post/paymentInstrum
        ents/reveal).

        Args:
            purpose (str, optional): The purpose of the public key.  Possible values:
                **pinChange**, **pinReveal**, **panReveal**.  Default value:
                **pinReveal**.
            format (str, optional): The encoding format of public key.  Possible
                values: **jwk**, **pem**.  Default value: **pem**.

        Returns:
            PublicKeyResponse: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/publicKey")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("purpose")
                .value(purpose))
            .query_param(Parameter()
                .key("format")
                .value(format))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PublicKeyResponse.from_dictionary)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
