"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_exception import (
    ServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.modification_result import (
    ModificationResult,
)
from adyen.models.payment_amount_update_response import (
    PaymentAmountUpdateResponse,
)
from adyen.models.payment_cancel_response import (
    PaymentCancelResponse,
)
from adyen.models.payment_capture_response import (
    PaymentCaptureResponse,
)
from adyen.models.payment_refund_response import (
    PaymentRefundResponse,
)
from adyen.models.payment_reversal_response import (
    PaymentReversalResponse,
)
from adyen.models.standalone_payment_cancel_response import (
    StandalonePaymentCancelResponse,
)


class ModificationsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize ModificationsApi object."""
        super(ModificationsApi, self).__init__(config)

    def post_cancels(self,
                     idempotency_key=None,
                     body=None):
        """Perform a POST request to /cancels.

        Cancels the authorisation on a payment that has not yet been
        [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/p
        ayments/{paymentPspReference}/captures), and returns a unique reference for
        this request. You get the outcome of the request asynchronously, in a
        [**TECHNICAL_CANCEL**
        webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).
        If you want to cancel a payment using the
        [`pspReference`](https://docs.adyen.com/api-explorer/Checkout/latest/post/paym
        ents#responses-200-pspReference), use the
        [`/payments/{paymentPspReference}/cancels`](https://docs.adyen.com/api-explore
        r/#/CheckoutService/latest/post/payments/{paymentPspReference}/cancels)
        endpoint instead.
        If you want to cancel a payment but are not sure whether it has been
        captured, use the
        [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explo
        rer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals)
        endpoint instead.
        For more information, refer to
        [Cancel](https://docs.adyen.com/online-payments/cancel).

        Args:
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (StandalonePaymentCancelRequest, optional): The request body
                parameter.

        Returns:
            StandalonePaymentCancelResponse: Response from the API. Created - the
                request has been fulfilled and has resulted in one or more new
                resources being created.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/cancels")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(StandalonePaymentCancelResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_payments_payment_psp_reference_amount_updates(self,
                                                           payment_psp_reference,
                                                           idempotency_key=None,
                                                           body=None):
        """Perform a POST request to
        /payments/{paymentPspReference}/amountUpdates.

        Increases or decreases the authorised payment amount and returns a unique
        reference for this request. You get the outcome of the request
        asynchronously, in an [**AUTHORISATION_ADJUSTMENT**
        webhook](https://docs.adyen.com/development-resources/webhooks/webhook-types/#
        event-codes).
        You can only update authorised amounts that have not yet been
        [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/p
        ayments/{paymentPspReference}/captures).
        The amount you specify in the request is the updated amount, which is larger
        or smaller than the initial authorised amount.
        For more information, refer to [Authorisation
        adjustment](https://docs.adyen.com/online-payments/adjust-authorisation#use-ca
        ses).

        Args:
            payment_psp_reference (str): The
                [`pspReference`](https://docs.adyen.com/api-explorer/Checkout/latest/p
                ost/payments#responses-200-pspReference) of the payment.
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (PaymentAmountUpdateRequest, optional): The request body parameter.

        Returns:
            PaymentAmountUpdateResponse: Response from the API. Created - the request
                has been fulfilled and has resulted in one or more new resources
                being created.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/{paymentPspReference}/amountUpdates")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("paymentPspReference")
                .value(payment_psp_reference)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentAmountUpdateResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_payments_payment_psp_reference_cancels(self,
                                                    payment_psp_reference,
                                                    idempotency_key=None,
                                                    body=None):
        """Perform a POST request to /payments/{paymentPspReference}/cancels.

        Cancels the authorisation on a payment that has not yet been
        [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/p
        ayments/{paymentPspReference}/captures), and returns a unique reference for
        this request. You get the outcome of the request asynchronously, in a
        [**CANCELLATION**
        webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).
        If you want to cancel a payment but don't have the
        [`pspReference`](https://docs.adyen.com/api-explorer/Checkout/latest/post/paym
        ents#responses-200-pspReference), use the
        [`/cancels`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post
        /cancels) endpoint instead.
        If you want to cancel a payment but are not sure whether it has been
        captured, use the
        [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explo
        rer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals)
        endpoint instead.
        For more information, refer to
        [Cancel](https://docs.adyen.com/online-payments/cancel).

        Args:
            payment_psp_reference (str): The
                [`pspReference`](https://docs.adyen.com/api-explorer/Checkout/latest/p
                ost/payments#responses-200-pspReference) of the payment that you want
                to cancel.
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (PaymentCancelRequest, optional): The request body parameter.

        Returns:
            PaymentCancelResponse: Response from the API. Created - the request has
                been fulfilled and has resulted in one or more new resources being
                created.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/{paymentPspReference}/cancels")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("paymentPspReference")
                .value(payment_psp_reference)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentCancelResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_payments_payment_psp_reference_captures(self,
                                                     payment_psp_reference,
                                                     idempotency_key=None,
                                                     body=None):
        """Perform a POST request to /payments/{paymentPspReference}/captures.

         Captures an authorised payment and returns a unique reference for this
        request. You get the outcome of the request asynchronously, in a [**CAPTURE**
        webhook](https://docs.adyen.com/online-payments/capture#capture-notification).
        You can capture either the full authorised amount or a part of the authorised
        amount. By default, any unclaimed amount after a partial capture gets
        cancelled. This does not apply if you enabled multiple partial captures on
        your account and the payment method supports multiple partial captures.
        [Automatic
        capture](https://docs.adyen.com/online-payments/capture#automatic-capture) is
        the default setting for most payment methods. In these cases, you don't need
        to make capture requests. However, making capture requests for payments that
        are captured automatically does not result in double charges.
        For more information, refer to
        [Capture](https://docs.adyen.com/online-payments/capture).

        Args:
            payment_psp_reference (str): The
                [`pspReference`](https://docs.adyen.com/api-explorer/Checkout/latest/p
                ost/payments#responses-200-pspReference) of the payment that you want
                to capture.
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (PaymentCaptureRequest, optional): The request body parameter.

        Returns:
            PaymentCaptureResponse: Response from the API. Created - the request has
                been fulfilled and has resulted in one or more new resources being
                created.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/{paymentPspReference}/captures")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("paymentPspReference")
                .value(payment_psp_reference)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentCaptureResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_payments_payment_psp_reference_refunds(self,
                                                    payment_psp_reference,
                                                    idempotency_key=None,
                                                    body=None):
        """Perform a POST request to /payments/{paymentPspReference}/refunds.

        Refunds a payment that has been
        [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/p
        ayments/{paymentPspReference}/captures), and returns a unique reference for
        this request. You get the outcome of the request asynchronously, in a
        [**REFUND**
        webhook](https://docs.adyen.com/online-payments/refund#refund-webhook).
        You can refund either the full captured amount or a part of the captured
        amount. You can also perform multiple partial refunds, as long as their sum
        doesn't exceed the captured amount.
        > Some payment methods do not support partial refunds. To learn if a payment
        method supports partial refunds, refer to the payment method page such as
        [cards](https://docs.adyen.com/payment-methods/cards#supported-cards),
        [iDEAL](https://docs.adyen.com/payment-methods/ideal), or
        [Klarna](https://docs.adyen.com/payment-methods/klarna).
        If you want to refund a payment but are not sure whether it has been
        captured, use the
        [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explo
        rer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals)
        endpoint instead.
        For more information, refer to
        [Refund](https://docs.adyen.com/online-payments/refund).

        Args:
            payment_psp_reference (str): The
                [`pspReference`](https://docs.adyen.com/api-explorer/Checkout/latest/p
                ost/payments#responses-200-pspReference) of the payment that you want
                to refund.
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (PaymentRefundRequest, optional): The request body parameter.

        Returns:
            PaymentRefundResponse: Response from the API. Created - the request has
                been fulfilled and has resulted in one or more new resources being
                created.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/{paymentPspReference}/refunds")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("paymentPspReference")
                .value(payment_psp_reference)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentRefundResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_payments_payment_psp_reference_reversals(self,
                                                      payment_psp_reference,
                                                      idempotency_key=None,
                                                      body=None):
        """Perform a POST request to /payments/{paymentPspReference}/reversals.

        [Refunds](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/pa
        yments/{paymentPspReference}/refunds) a payment if it has already been
        captured, and
        [cancels](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/pa
        yments/{paymentPspReference}/cancels) a payment if it has not yet been
        captured. Returns a unique reference for this request. You get the outcome of
        the request asynchronously, in a [**CANCEL_OR_REFUND**
        webhook](https://docs.adyen.com/online-payments/reversal/#cancel-or-refund-web
        hook).
        The reversed amount is always the full payment amount.
        > Do not use this request for payments that involve multiple partial captures.
        For more information, refer to
        [Reversal](https://docs.adyen.com/online-payments/reversal).

        Args:
            payment_psp_reference (str): The
                [`pspReference`](https://docs.adyen.com/api-explorer/Checkout/latest/p
                ost/payments#responses-200-pspReference) of the payment that you want
                to reverse.
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (PaymentReversalRequest, optional): The request body parameter.

        Returns:
            PaymentReversalResponse: Response from the API. Created - the request has
                been fulfilled and has resulted in one or more new resources being
                created.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/{paymentPspReference}/reversals")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("paymentPspReference")
                .value(payment_psp_reference)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentReversalResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_adjust_authorisation(self,
                                  body=None):
        """Perform a POST request to /adjustAuthorisation.

        Allows you to increase or decrease the authorised amount after the initial
        authorisation has taken place. This functionality enables for example
        tipping, improving the chances your authorisation will be valid, or charging
        the shopper when they have already left the merchant premises.
        > This endpoint is
        [inactive](https://docs.adyen.com/online-payments/upgrade-your-integration#che
        ckout-api-lifecycle) and is no longer supported for new integrations.
        > * If you are building a new integration, use the Checkout API
        [`/payments/{paymentPspReference}/amountUpdates`](https://docs.adyen.com/api-e
        xplorer/Checkout/latest/post/payments/(paymentPspReference)/amountUpdates)
        endpoint instead.
        > * If you have an existing integration using this endpoint, reach out to
        your Adyen contact and [migrate to the Checkout
        API](https://docs.adyen.com/online-payments/upgrade-your-integration/migrate-t
        o-checkout-api).
        >The Checkout API enables your [online
        payments](https://docs.adyen.com/online-payments) integration to accept all
        supported payment methods, use the latest features, and access more benefits.

        Args:
            body (AdjustAuthorisationRequest, optional): The request body parameter.

        Returns:
            ModificationResult: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/adjustAuthorisation")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ModificationResult.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_cancel(self,
                    body=None):
        """Perform a POST request to /cancel.

        Cancels the authorisation hold on a payment, returning a unique reference for
        this request. You can cancel payments after authorisation only for payment
        methods that support distinct authorisations and captures.
        For more information, refer to
        [Cancel](https://docs.adyen.com/online-payments/classic-integrations/modify-pa
        yments/cancel).
        > This endpoint is
        [inactive](https://docs.adyen.com/online-payments/upgrade-your-integration#che
        ckout-api-lifecycle) and is no longer supported for new integrations.
        > * If you are building a new integration, use the Checkout API
        [`/payments/{paymentPspReference}/cancels`](https://docs.adyen.com/api-explore
        r/Checkout/latest/post/payments/(paymentPspReference)/cancels) endpoint
        instead.
        > * If you have an existing integration using this endpoint, reach out to
        your Adyen contact and [migrate to the Checkout
        API](https://docs.adyen.com/online-payments/upgrade-your-integration/migrate-t
        o-checkout-api).
        > The Checkout API enables your [online
        payments](https://docs.adyen.com/online-payments) integration to accept all
        supported payment methods, use the latest features, and access more benefits.

        Args:
            body (CancelRequest, optional): The request body parameter.

        Returns:
            ModificationResult: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/cancel")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ModificationResult.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_cancel_or_refund(self,
                              body=None):
        """Perform a POST request to /cancelOrRefund.

        Cancels a payment if it has not been captured yet, or refunds it if it has
        already been captured. This is useful when it is not certain if the payment
        has been captured or not (for example, when using auto-capture).
        Do not use this endpoint for payments that involve:
         * [Multiple partial
        captures](https://docs.adyen.com/online-payments/capture).
         * [Split
        data](https://docs.adyen.com/classic-platforms/processing-payments#providing-s
        plit-information) either at time of payment or capture for Adyen for
        Platforms.
         Instead, check if the payment has been captured and make a corresponding
        [`/refund`](https://docs.adyen.com/api-explorer/#/Payment/refund) or
        [`/cancel`](https://docs.adyen.com/api-explorer/#/Payment/cancel) call.
        For more information, refer to [Cancel or
        refund](https://docs.adyen.com/online-payments/classic-integrations/modify-pay
        ments/cancel-or-refund).
        > This endpoint is
        [inactive](https://docs.adyen.com/online-payments/upgrade-your-integration#che
        ckout-api-lifecycle) and is no longer supported for new integrations.
        > * If you are building a new integration, use the Checkout API
        [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explo
        rer/Checkout/latest/post/payments/(paymentPspReference)/reversals) endpoint
        instead.
        > * If you have an existing integration using this endpoint, reach out to
        your Adyen contact and [migrate to the Checkout
        API](https://docs.adyen.com/online-payments/upgrade-your-integration/migrate-t
        o-checkout-api).
        > The Checkout API enables your [online
        payments](https://docs.adyen.com/online-payments) integration to accept all
        supported payment methods, use the latest features, and access more benefits.

        Args:
            body (CancelOrRefundRequest, optional): The request body parameter.

        Returns:
            ModificationResult: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/cancelOrRefund")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ModificationResult.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_capture(self,
                     body=None):
        """Perform a POST request to /capture.

        Captures the authorisation hold on a payment, returning a unique reference
        for this request. Usually the full authorisation amount is captured, however
        it's also possible to capture a smaller amount, which results in cancelling
        the remaining authorisation balance.
        Payment methods that are captured automatically after authorisation don't
        need to be captured. However, submitting a capture request on these
        transactions will not result in double charges. If immediate or delayed
        auto-capture is enabled, calling the capture method is not necessary.
        For more information refer to
        [Capture](https://docs.adyen.com/online-payments/classic-integrations/modify-p
        ayments/capture).
        > This endpoint is
        [inactive](https://docs.adyen.com/online-payments/upgrade-your-integration#che
        ckout-api-lifecycle) and is no longer supported for new integrations.
        > * If you are building a new integration, use the Checkout API
        [`/payments/{paymentPspReference}/captures`](https://docs.adyen.com/api-explor
        er/Checkout/latest/post/payments/(paymentPspReference)/captures) endpoint
        instead.
        > * If you have an existing integration using this endpoint, reach out to
        your Adyen contact and [migrate to the Checkout
        API](https://docs.adyen.com/online-payments/upgrade-your-integration/migrate-t
        o-checkout-api).
        > The Checkout API enables your [online
        payments](https://docs.adyen.com/online-payments) integration to accept all
        supported payment methods, use the latest features, and access more benefits.

        Args:
            body (CaptureRequest, optional): The request body parameter.

        Returns:
            ModificationResult: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/capture")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ModificationResult.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    @deprecated()
    def post_donate(self,
                    body=None):
        """Perform a POST request to /donate.

        Schedules a new payment to be created (including a new authorisation request)
        for the specified donation using the payment details of the original payment.
        > This endpoint is
        [inactive](https://docs.adyen.com/online-payments/upgrade-your-integration#che
        ckout-api-lifecycle) and is no longer supported for new integrations.
        > * If you are building a new integration, use the Checkout API
        [`/donations`](https://docs.adyen.com/api-explorer/Checkout/latest/post/donati
        ons) endpoint instead.
        > * If you have an existing integration using this endpoint, reach out to
        your Adyen contact and [migrate to the Checkout
        API](https://docs.adyen.com/online-payments/upgrade-your-integration/migrate-t
        o-checkout-api).
        > The Checkout API enables your [online
        payments](https://docs.adyen.com/online-payments) integration to accept all
        supported payment methods, use the latest features, and access more benefits.

        Args:
            body (DonationRequest, optional): The request body parameter.

        Returns:
            ModificationResult: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/donate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ModificationResult.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_refund(self,
                    body=None):
        """Perform a POST request to /refund.

        Refunds a payment that has previously been captured, returning a unique
        reference for this request. Refunding can be done on the full captured amount
        or a partial amount. Multiple (partial) refunds will be accepted as long as
        their sum doesn't exceed the captured amount. Payments which have been
        authorised, but not captured, cannot be refunded, use the /cancel method
        instead.
        Some payment methods/gateways do not support partial/multiple refunds.
        A margin above the captured limit can be configured to cover
        shipping/handling costs.
        For more information, refer to
        [Refund](https://docs.adyen.com/online-payments/classic-integrations/modify-pa
        yments/refund).
        > This endpoint is
        [inactive](https://docs.adyen.com/online-payments/upgrade-your-integration#che
        ckout-api-lifecycle) and is no longer supported for new integrations.
        > * If you are building a new integration, use the Checkout API
        [`/payments/{paymentPspReference}/refunds`](https://docs.adyen.com/api-explore
        r/Checkout/latest/post/payments/(paymentPspReference)/refunds) endpoint
        instead.
        > * If you have an existing integration using this endpoint, reach out to
        your Adyen contact and [migrate to the Checkout
        API](https://docs.adyen.com/online-payments/upgrade-your-integration/migrate-t
        o-checkout-api).
        > The Checkout API enables your [online
        payments](https://docs.adyen.com/online-payments) integration to accept all
        supported payment methods, use the latest features, and access more benefits.

        Args:
            body (RefundRequest, optional): The request body parameter.

        Returns:
            ModificationResult: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/refund")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ModificationResult.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_technical_cancel(self,
                              body=None):
        """Perform a POST request to /technicalCancel.

        This endpoint allows you to cancel a payment if you do not have the PSP
        reference of the original payment request available.
        In your call, refer to the original payment by using the `reference` that you
        specified in your payment request.
        For more information, see [Technical
        cancel](https://docs.adyen.com/online-payments/classic-integrations/modify-pay
        ments/cancel#technical-cancel).
        > This endpoint is
        [inactive](https://docs.adyen.com/online-payments/upgrade-your-integration#che
        ckout-api-lifecycle) and is no longer supported for new integrations.
        > * If you are building a new integration, use the Checkout API
        [`/cancels`](https://docs.adyen.com/api-explorer/Checkout/latest/post/cancels)
        endpoint instead.
        > * If you have an existing integration using this endpoint, reach out to
        your Adyen contact and [migrate to the Checkout
        API](https://docs.adyen.com/online-payments/upgrade-your-integration/migrate-t
        o-checkout-api).
        > The Checkout API enables your [online
        payments](https://docs.adyen.com/online-payments) integration to accept all
        supported payment methods, use the latest features, and access more benefits.

        Args:
            body (TechnicalCancelRequest, optional): The request body parameter.

        Returns:
            ModificationResult: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/technicalCancel")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ModificationResult.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_void_pending_refund(self,
                                 body=None):
        """Perform a POST request to /voidPendingRefund.

        This endpoint allows you to cancel an unreferenced refund request before it
        has been completed.
        In your call, you can refer to the original refund request either by using
        the `tenderReference`, or the `pspReference`. We recommend implementing based
        on the `tenderReference`, as this is generated for both offline and online
        transactions.
        For more information, refer to [Cancel an unreferenced
        refund](https://docs.adyen.com/point-of-sale/basic-tapi-integration/refund-pay
        ment/cancel-unreferenced).

        Args:
            body (VoidPendingRefundRequest, optional): The request body parameter.

        Returns:
            ModificationResult: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/voidPendingRefund")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ModificationResult.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()
