"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.allowed_origin import AllowedOrigin
from adyen.models.allowed_origins_response import (
    AllowedOriginsResponse,
)
from adyen.models.generate_client_key_response import (
    GenerateClientKeyResponse,
)
from adyen.models.me_api_credential import MeApiCredential


class MyApiCredentialApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize MyApiCredentialApi object."""
        super(MyApiCredentialApi, self).__init__(config)

    def get_me(self):
        """Perform a GET request to /me.

        Returns your [API
        credential](https://docs.adyen.com/development-resources/api-credentials)
        details based on the API Key you used in the request.
        You can make this request with any of the Management API roles.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/me")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MeApiCredential.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_me_allowed_origins(self):
        """Perform a GET request to /me/allowedOrigins.

        Returns the list of [allowed
        origins](https://docs.adyen.com/development-resources/client-side-authenticati
        on#allowed-origins) of your [API
        credential](https://docs.adyen.com/development-resources/api-credentials)
        based on the API key you used in the request.
        You can make this request with any of the Management API roles.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/me/allowedOrigins")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AllowedOriginsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_me_allowed_origins(self,
                                body=None):
        """Perform a POST request to /me/allowedOrigins.

        Adds an allowed origin to the list of [allowed
        origins](https://docs.adyen.com/development-resources/client-side-authenticati
        on#allowed-origins) of your API credential.
        The API key from the request is used to identify the [API
        credential](https://docs.adyen.com/development-resources/api-credentials).
        You can make this request with any of the Management API roles.

        Args:
            body (CreateAllowedOriginRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/me/allowedOrigins")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AllowedOrigin.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_me_allowed_origins_origin_id(self,
                                         origin_id):
        """Perform a GET request to /me/allowedOrigins/{originId}.

        Returns the details of the [allowed
        origin](https://docs.adyen.com/development-resources/client-side-authenticatio
        n#allowed-origins) specified in the path.
        The API key from the request is used to identify the [API
        credential](https://docs.adyen.com/development-resources/api-credentials).
        You can make this request with any of the Management API roles.

        Args:
            origin_id (str): Unique identifier of the allowed origin.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/me/allowedOrigins/{originId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("originId")
                .value(origin_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AllowedOrigin.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def delete_me_allowed_origins_origin_id(self,
                                            origin_id):
        """Perform a DELETE request to /me/allowedOrigins/{originId}.

        Removes the [allowed
        origin](https://docs.adyen.com/development-resources/client-side-authenticatio
        n#allowed-origins) specified in the path.
        The API key from the request is used to identify the [API
        credential](https://docs.adyen.com/development-resources/api-credentials).
        You can make this request with any of the Management API roles.

        Args:
            origin_id (str): Unique identifier of the allowed origin.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. No Content - look at
                the actual response code for the status of the request.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/me/allowedOrigins/{originId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("originId")
                .value(origin_id)
                .is_required(True)
                .should_encode(True))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_me_generate_client_key(self):
        """Perform a POST request to /me/generateClientKey.

        Generates a new [client
        key](https://docs.adyen.com/development-resources/client-side-authentication/)
        used to authenticate requests from your payment environment.
        You can use the new client key a few minutes after generating it.
        The old client key stops working 24 hours after generating a new one.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—API credentials read and write

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/me/generateClientKey")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GenerateClientKeyResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
