"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.get_network_token_response import (
    GetNetworkTokenResponse,
)


class NetworkTokensApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize NetworkTokensApi object."""
        super(NetworkTokensApi, self).__init__(config)

    def get_network_tokens_network_token_id(self,
                                            network_token_id):
        """Perform a GET request to /networkTokens/{networkTokenId}.

        Returns the details of a network token.

        Args:
            network_token_id (str): The unique identifier of the network token.

        Returns:
            GetNetworkTokenResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/networkTokens/{networkTokenId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("networkTokenId")
                .value(network_token_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetNetworkTokenResponse.from_dictionary)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_network_tokens_network_token_id(self,
                                              network_token_id,
                                              body=None):
        """Perform a PATCH request to /networkTokens/{networkTokenId}.

        Updates the status of the network token.

        Args:
            network_token_id (str): The unique identifier of the network token.
            body (UpdateNetworkTokenRequest, optional): The request body parameter.

        Returns:
            void: Response from the API. No Content - look at the actual response
                code for the status of the request.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/networkTokens/{networkTokenId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("networkTokenId")
                .value(network_token_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("clientKey"), Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()
