"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_1_exception import (
    ServiceError1Exception,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.balance_check_response import (
    BalanceCheckResponse,
)
from adyen.models.cancel_order_response import (
    CancelOrderResponse,
)
from adyen.models.create_order_response import (
    CreateOrderResponse,
)


class OrdersApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize OrdersApi object."""
        super(OrdersApi, self).__init__(config)

    def post_orders(self,
                    idempotency_key=None,
                    body=None):
        """Perform a POST request to /orders.

        Creates an order to be used for partial payments. Make a POST `/orders` call
        before making a `/payments` call when processing payments with different
        payment methods.

        Args:
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (CreateOrderRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/orders")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateOrderResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceError1Exception),
        ).execute()

    def post_orders_cancel(self,
                           idempotency_key=None,
                           body=None):
        """Perform a POST request to /orders/cancel.

        Cancels an order. Cancellation of an order results in an automatic rollback
        of all payments made in the order, either by canceling or refunding the
        payment, depending on the type of payment method.

        Args:
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (CancelOrderRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/orders/cancel")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CancelOrderResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceError1Exception),
        ).execute()

    def post_payment_methods_balance(self,
                                     idempotency_key=None,
                                     body=None):
        """Perform a POST request to /paymentMethods/balance.

        Retrieves the balance remaining on a shopper's gift card. To check a gift
        card's balance, make a POST `/paymentMethods/balance` call and include the
        gift card's details inside a `paymentMethod` object.

        Args:
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (BalanceCheckRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paymentMethods/balance")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalanceCheckResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceError1Exception),
        ).execute()
