"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_1_exception import (
    ServiceError1Exception,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.payment_link_response import (
    PaymentLinkResponse,
)


class PaymentLinksApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize PaymentLinksApi object."""
        super(PaymentLinksApi, self).__init__(config)

    def post_payment_links(self,
                           idempotency_key=None,
                           body=None):
        """Perform a POST request to /paymentLinks.

        Creates a payment link to a [Pay by
        Link](https://docs.adyen.com/unified-commerce/pay-by-link/) page where the
        shopper can pay. The list of payment methods presented to the shopper depends
        on the `currency` and `country` parameters sent in the request.
        For more information, refer to [Pay by Link
        documentation](https://docs.adyen.com/online-payments/pay-by-link#create-payme
        nt-links-through-api).

        Args:
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (PaymentLinkRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created - the request
                has succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paymentLinks")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentLinkResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceError1Exception),
        ).execute()

    def get_payment_links_link_id(self,
                                  link_id):
        """Perform a GET request to /paymentLinks/{linkId}.

        Retrieves the payment link details using the payment link `id`.

        Args:
            link_id (str): Unique identifier of the payment link.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paymentLinks/{linkId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("linkId")
                .value(link_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentLinkResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceError1Exception),
        ).execute()

    def patch_payment_links_link_id(self,
                                    link_id,
                                    body=None):
        """Perform a PATCH request to /paymentLinks/{linkId}.

        Updates the status of a payment link. Use this endpoint to [force the expiry
        of a payment
        link](https://docs.adyen.com/online-payments/pay-by-link#update-payment-link-s
        tatus).

        Args:
            link_id (str): Unique identifier of the payment link.
            body (UpdatePaymentLinkRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paymentLinks/{linkId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("linkId")
                .value(link_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentLinkResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceError1Exception),
        ).execute()
