"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.boarding_token_response import (
    BoardingTokenResponse,
)
from adyen.models.payments_app_response import (
    PaymentsAppResponse,
)


class PaymentsAppApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize PaymentsAppApi object."""
        super(PaymentsAppApi, self).__init__(config)

    def post_merchants_merchant_id_generate_payments_app_boarding_token(self,
                                                                        merchant_id,
                                                                        body):
        """Perform a POST request to
        /merchants/{merchantId}/generatePaymentsAppBoardingToken.

        Creates a boarding token used to authenticate the installation of a Payments
        App instance on an Android device. The boarding token is created for the
        `boardingRequestToken` of the Payments App for the merchant account
        identified in the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            body (BoardingTokenRequest): The request body parameter.

        Returns:
            BoardingTokenResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT26)
            .path("/merchants/{merchantId}/generatePaymentsAppBoardingToken")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BoardingTokenResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_merchants_merchant_id_stores_store_id_generate_payments_app_boarding_token(self,
                                                                                        merchant_id,
                                                                                        store_id,
                                                                                        body):
        """Perform a POST request to
        /merchants/{merchantId}/stores/{storeId}/generatePaymentsAppBoardingToken.

        Creates a boarding token used to authenticate the installation of a Payments
        App instance on an Android device. The boarding token is created for the
        `boardingRequestToken` of the Payments App for the store identified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            store_id (str): The unique identifier of the store.
            body (BoardingTokenRequest): The request body parameter.

        Returns:
            BoardingTokenResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT26)
            .path("/merchants/{merchantId}/stores/{storeId}/generatePaymentsAppBoardingToken")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("storeId")
                .value(store_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BoardingTokenResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def get_merchants_merchant_id_payments_apps(self,
                                                merchant_id,
                                                statuses=None,
                                                limit=10,
                                                offset=0):
        """Perform a GET request to /merchants/{merchantId}/paymentsApps.

        Returns the list of Payments App instances for the merchant account
        identified in the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            statuses (str, optional): The status of the Payments App. Comma-separated
                list of one or more values. If no value is provided, the list returns
                all statuses.   Possible values:  * **BOARDING**   * **BOARDED**   *
                **REVOKED**
            limit (int, optional): The number of items to return.
            offset (int, optional): The number of items to skip.

        Returns:
            PaymentsAppResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT26)
            .path("/merchants/{merchantId}/paymentsApps")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("statuses")
                .value(statuses))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentsAppResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def get_merchants_merchant_id_stores_store_id_payments_apps(self,
                                                                merchant_id,
                                                                store_id,
                                                                statuses=None,
                                                                limit=10,
                                                                offset=0):
        """Perform a GET request to
        /merchants/{merchantId}/stores/{storeId}/paymentsApps.

        Returns the list of Payments App instances for the store identified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            store_id (str): The unique identifier of the store.
            statuses (str, optional): The status of the Payments App. Comma-separated
                list of one or more values. If no value is provided, the list returns
                all statuses.   Possible values:  * **BOARDING**   * **BOARDED**   *
                **REVOKED**
            limit (int, optional): The number of items to return.
            offset (int, optional): The number of items to skip.

        Returns:
            PaymentsAppResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT26)
            .path("/merchants/{merchantId}/stores/{storeId}/paymentsApps")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("storeId")
                .value(store_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("statuses")
                .value(statuses))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentsAppResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_merchants_merchant_id_payments_apps_installation_id_revoke(self,
                                                                        merchant_id,
                                                                        installation_id):
        """Perform a POST request to
        /merchants/{merchantId}/paymentsApps/{installationId}/revoke.

        Revokes the authentication of the Payments App instance for the
        `installationId` and merchant account identified in the path. This call
        revokes the authentication of the Payments App instance with the
        `installationId` identified in the path for both merchant accounts and stores.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            installation_id (str): The unique identifier of the Payments App instance
                on a device.

        Returns:
            Any: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT26)
            .path("/merchants/{merchantId}/paymentsApps/{installationId}/revoke")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("installationId")
                .value(installation_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()
