"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.merchants_generate_payments_app_boarding_token_400_error_exception import (  # noqa: E501
    MerchantsGeneratePaymentsAppBoardingToken400ErrorException,
)
from adyen.exceptions.merchants_generate_payments_app_boarding_token_401_error_exception import (  # noqa: E501
    MerchantsGeneratePaymentsAppBoardingToken401ErrorException,
)
from adyen.exceptions.merchants_generate_payments_app_boarding_token_403_error_exception import (  # noqa: E501
    MerchantsGeneratePaymentsAppBoardingToken403ErrorException,
)
from adyen.exceptions.merchants_generate_payments_app_boarding_token_422_error_exception import (  # noqa: E501
    MerchantsGeneratePaymentsAppBoardingToken422ErrorException,
)
from adyen.exceptions.merchants_generate_payments_app_boarding_token_500_error_exception import (  # noqa: E501
    MerchantsGeneratePaymentsAppBoardingToken500ErrorException,
)
from adyen.exceptions.merchants_payments_apps_400_error_exception import (
    MerchantsPaymentsApps400ErrorException,
)
from adyen.exceptions.merchants_payments_apps_401_error_exception import (
    MerchantsPaymentsApps401ErrorException,
)
from adyen.exceptions.merchants_payments_apps_403_error_exception import (
    MerchantsPaymentsApps403ErrorException,
)
from adyen.exceptions.merchants_payments_apps_422_error_exception import (
    MerchantsPaymentsApps422ErrorException,
)
from adyen.exceptions.merchants_payments_apps_500_error_exception import (
    MerchantsPaymentsApps500ErrorException,
)
from adyen.exceptions.merchants_payments_apps_revoke_400_error_exception import (
    MerchantsPaymentsAppsRevoke400ErrorException,
)
from adyen.exceptions.merchants_payments_apps_revoke_401_error_exception import (
    MerchantsPaymentsAppsRevoke401ErrorException,
)
from adyen.exceptions.merchants_payments_apps_revoke_500_error_exception import (
    MerchantsPaymentsAppsRevoke500ErrorException,
)
from adyen.exceptions.merchants_stores_generate_payments_app_boarding_token_400_error_exception import (  # noqa: E501
    MerchantsStoresGeneratePaymentsAppBoardingToken400ErrorException,
)
from adyen.exceptions.merchants_stores_generate_payments_app_boarding_token_401_error_exception import (  # noqa: E501
    MerchantsStoresGeneratePaymentsAppBoardingToken401ErrorException,
)
from adyen.exceptions.merchants_stores_generate_payments_app_boarding_token_403_error_exception import (  # noqa: E501
    MerchantsStoresGeneratePaymentsAppBoardingToken403ErrorException,
)
from adyen.exceptions.merchants_stores_generate_payments_app_boarding_token_422_error_exception import (  # noqa: E501
    MerchantsStoresGeneratePaymentsAppBoardingToken422ErrorException,
)
from adyen.exceptions.merchants_stores_generate_payments_app_boarding_token_500_error_exception import (  # noqa: E501
    MerchantsStoresGeneratePaymentsAppBoardingToken500ErrorException,
)
from adyen.exceptions.merchants_stores_payments_apps_400_error_exception import (
    MerchantsStoresPaymentsApps400ErrorException,
)
from adyen.exceptions.merchants_stores_payments_apps_401_error_exception import (
    MerchantsStoresPaymentsApps401ErrorException,
)
from adyen.exceptions.merchants_stores_payments_apps_403_error_exception import (
    MerchantsStoresPaymentsApps403ErrorException,
)
from adyen.exceptions.merchants_stores_payments_apps_422_error_exception import (
    MerchantsStoresPaymentsApps422ErrorException,
)
from adyen.exceptions.merchants_stores_payments_apps_500_error_exception import (
    MerchantsStoresPaymentsApps500ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.boarding_token_response import (
    BoardingTokenResponse,
)
from adyen.models.payments_app_response import (
    PaymentsAppResponse,
)


class PaymentsAppApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize PaymentsAppApi object."""
        super(PaymentsAppApi, self).__init__(config)

    def post_merchants_merchant_id_generate_payments_app_boarding_token(self,
                                                                        merchant_id,
                                                                        body):
        """Perform a POST request to
        /merchants/{merchantId}/generatePaymentsAppBoardingToken.

        Creates a boarding token used to authenticate the installation of a Payments
        App instance on an Android device. The boarding token is created for the
        `boardingRequestToken` of the Payments App for the merchant account
        identified in the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            body (BoardingTokenRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/generatePaymentsAppBoardingToken")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BoardingTokenResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                MerchantsGeneratePaymentsAppBoardingToken400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                MerchantsGeneratePaymentsAppBoardingToken401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                MerchantsGeneratePaymentsAppBoardingToken403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                MerchantsGeneratePaymentsAppBoardingToken422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                MerchantsGeneratePaymentsAppBoardingToken500ErrorException),
        ).execute()

    def post_merchants_merchant_id_stores_store_id_generate_payments_app_boarding_token(self,
                                                                                        merchant_id,
                                                                                        store_id,
                                                                                        body):
        """Perform a POST request to
        /merchants/{merchantId}/stores/{storeId}/generatePaymentsAppBoardingToken.

        Creates a boarding token used to authenticate the installation of a Payments
        App instance on an Android device. The boarding token is created for the
        `boardingRequestToken` of the Payments App for the store identified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            store_id (str): The unique identifier of the store.
            body (BoardingTokenRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/stores/{storeId}/generatePaymentsAppBoardingToken")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("storeId")
                .value(store_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BoardingTokenResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                MerchantsStoresGeneratePaymentsAppBoardingToken400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                MerchantsStoresGeneratePaymentsAppBoardingToken401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                MerchantsStoresGeneratePaymentsAppBoardingToken403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                MerchantsStoresGeneratePaymentsAppBoardingToken422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                MerchantsStoresGeneratePaymentsAppBoardingToken500ErrorException),
        ).execute()

    def get_merchants_merchant_id_payments_apps(self,
                                                merchant_id,
                                                statuses=None,
                                                limit=10,
                                                offset=0):
        """Perform a GET request to /merchants/{merchantId}/paymentsApps.

        Returns the list of Payments App instances for the merchant account
        identified in the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            statuses (str, optional): The status of the Payments App. Comma-separated
                list of one or more values. If no value is provided, the list returns
                all statuses.   Possible values:  * **BOARDING**   * **BOARDED**   *
                **REVOKED**
            limit (int, optional): The number of items to return.
            offset (int, optional): The number of items to skip.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/paymentsApps")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("statuses")
                .value(statuses))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentsAppResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                MerchantsPaymentsApps400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                MerchantsPaymentsApps401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                MerchantsPaymentsApps403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                MerchantsPaymentsApps422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                MerchantsPaymentsApps500ErrorException),
        ).execute()

    def get_merchants_merchant_id_stores_store_id_payments_apps(self,
                                                                merchant_id,
                                                                store_id,
                                                                statuses=None,
                                                                limit=10,
                                                                offset=0):
        """Perform a GET request to
        /merchants/{merchantId}/stores/{storeId}/paymentsApps.

        Returns the list of Payments App instances for the store identified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            store_id (str): The unique identifier of the store.
            statuses (str, optional): The status of the Payments App. Comma-separated
                list of one or more values. If no value is provided, the list returns
                all statuses.   Possible values:  * **BOARDING**   * **BOARDED**   *
                **REVOKED**
            limit (int, optional): The number of items to return.
            offset (int, optional): The number of items to skip.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/stores/{storeId}/paymentsApps")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("storeId")
                .value(store_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("statuses")
                .value(statuses))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentsAppResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                MerchantsStoresPaymentsApps400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                MerchantsStoresPaymentsApps401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                MerchantsStoresPaymentsApps403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                MerchantsStoresPaymentsApps422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                MerchantsStoresPaymentsApps500ErrorException),
        ).execute()

    def post_merchants_merchant_id_payments_apps_installation_id_revoke(self,
                                                                        merchant_id,
                                                                        installation_id):
        """Perform a POST request to
        /merchants/{merchantId}/paymentsApps/{installationId}/revoke.

        Revokes the authentication of the Payments App instance for the
        `installationId` and merchant account identified in the path. This call
        revokes the authentication of the Payments App instance with the
        `installationId` identified in the path for both merchant accounts and stores.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Adyen Payments App role

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            installation_id (str): The unique identifier of the Payments App instance
                on a device.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/paymentsApps/{installationId}/revoke")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("installationId")
                .value(installation_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                MerchantsPaymentsAppsRevoke400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                MerchantsPaymentsAppsRevoke401ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                MerchantsPaymentsAppsRevoke500ErrorException),
        ).execute()
