"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.apple_pay_response_info import (
    ApplePayResponseInfo,
)
from adyen.models.management_payment_method import (
    ManagementPaymentMethod,
)
from adyen.models.payment_method_response import (
    PaymentMethodResponse,
)


class PaymentMethodsMerchantLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize PaymentMethodsMerchantLevelApi object."""
        super(PaymentMethodsMerchantLevelApi, self).__init__(config)

    def get_merchants_merchant_id_payment_method_settings(self,
                                                          merchant_id,
                                                          store_id=None,
                                                          business_line_id=None,
                                                          page_size=None,
                                                          page_number=None):
        """Perform a GET request to
        /merchants/{merchantId}/paymentMethodSettings.

        Returns details for all payment methods of the merchant account identified in
        the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Payment methods read

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            store_id (str, optional): The unique identifier of the store for which to
                return the payment methods.
            business_line_id (str, optional): The unique identifier of the Business
                Line for which to return the payment methods.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 10 items on a page.
            page_number (int, optional): The number of the page to fetch.

        Returns:
            PaymentMethodResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/paymentMethodSettings")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("storeId")
                .value(store_id))
            .query_param(Parameter()
                .key("businessLineId")
                .value(business_line_id))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentMethodResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("429", "", RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_merchants_merchant_id_payment_method_settings(self,
                                                           merchant_id,
                                                           body=None):
        """Perform a POST request to
        /merchants/{merchantId}/paymentMethodSettings.

        Sends a request to add a new payment method to the merchant account
        identified in the path.
        Depending the payment method
        [`type`](https://docs.adyen.com/api-explorer/Management/latest/post/merchants/
        _merchantId_/paymentMethodSettings#request-type), you may need to send an
        additional object required for the payment method.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Payment methods read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            body (PaymentMethodSetupInfo, optional): The request body parameter.

        Returns:
            ManagementPaymentMethod: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/paymentMethodSettings")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ManagementPaymentMethod.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("429", "", RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_merchants_merchant_id_payment_method_settings_payment_method_id(self,
                                                                            merchant_id,
                                                                            payment_method_id):
        """Perform a GET request to
        /merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}.

        Returns details for the merchant account and the payment method identified in
        the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Payment methods read

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            payment_method_id (str): The unique identifier of the payment method.

        Returns:
            ManagementPaymentMethod: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("paymentMethodId")
                .value(payment_method_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ManagementPaymentMethod.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("429", "", RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_merchants_merchant_id_payment_method_settings_payment_method_id(self,
                                                                              merchant_id,
                                                                              payment_method_id,
                                                                              body=None):
        """Perform a PATCH request to
        /merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}.

        Updates payment method details for the merchant account and the payment
        method identified in the path.
        Depending the payment method
        [`type`](https://docs.adyen.com/api-explorer/Management/latest/patch/merchants
        /_merchantId_/paymentMethodSettings#request-type), you may need to send an
        additional object required for the payment method.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Payment methods read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            payment_method_id (str): The unique identifier of the payment method.
            body (UpdatePaymentMethodInfo, optional): The request body parameter.

        Returns:
            ManagementPaymentMethod: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("paymentMethodId")
                .value(payment_method_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ManagementPaymentMethod.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("429", "", RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_merchants_merchant_id_payment_method_settings_payment_method_id_add_apple_pay_domains(self,
                                                                                                   merchant_id,
                                                                                                   payment_method_id,
                                                                                                   body=None):
        """Perform a POST request to
        /merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}/addApplePayDoma
        ins.

        Adds the new domain to the list of Apple Pay domains that are registered with
        the merchant account and the payment method identified in the path. For more
        information, see [Apple Pay
        documentation](https://docs.adyen.com/payment-methods/apple-pay/web-drop-in/?t
        ab=adyen-certificate-live_1#going-live).
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Payment methods read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            payment_method_id (str): The unique identifier of the payment method.
            body (ApplePayInfo, optional): The request body parameter.

        Returns:
            void: Response from the API. No Content - look at the actual response
                code for the status of the request.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}/addApplePayDomains")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("paymentMethodId")
                .value(payment_method_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()

    def get_merchants_merchant_id_payment_method_settings_payment_method_id_get_apple_pay_domains(self,
                                                                                                  merchant_id,
                                                                                                  payment_method_id):
        """Perform a GET request to
        /merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}/getApplePayDoma
        ins.

        Returns all Apple Pay domains that are registered with the merchant account
        and the payment method identified in the path. For more information, see
        [Apple Pay
        documentation](https://docs.adyen.com/payment-methods/apple-pay/enable-apple-p
        ay#register-merchant-domain).
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Payment methods read

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            payment_method_id (str): The unique identifier of the payment method.

        Returns:
            ApplePayResponseInfo: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}/getApplePayDomains")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("paymentMethodId")
                .value(payment_method_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ApplePayResponseInfo.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
