"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.payout_settings import PayoutSettings
from adyen.models.payout_settings_response import (
    PayoutSettingsResponse,
)


class PayoutSettingsMerchantLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize PayoutSettingsMerchantLevelApi object."""
        super(PayoutSettingsMerchantLevelApi, self).__init__(config)

    def get_merchants_merchant_id_payout_settings(self,
                                                  merchant_id):
        """Perform a GET request to /merchants/{merchantId}/payoutSettings.

        Returns the list of payout settings for the merchant account identified in
        the path.
        Use this endpoint if your integration requires it, such as Adyen for
        Platforms Manage. Your Adyen contact will set up your access.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Payout account settings read

        Args:
            merchant_id (str): The unique identifier of the merchant account.

        Returns:
            PayoutSettingsResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/payoutSettings")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PayoutSettingsResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_merchants_merchant_id_payout_settings(self,
                                                   merchant_id,
                                                   body=None):
        """Perform a POST request to /merchants/{merchantId}/payoutSettings.

        Sends a request to add a payout setting for the merchant account specified in
        the path. A payout setting links the merchant account to the [transfer
        instrument](https://docs.adyen.com/api-explorer/#/legalentity/latest/post/tran
        sferInstruments) that contains the details of the payout bank account. Adyen
        verifies the bank account before allowing and enabling the payout setting.
        If you're accepting payments in multiple currencies, you may add multiple
        payout settings for the merchant account.
        Use this endpoint if your integration requires it, such as Adyen for
        Platforms Manage. Your Adyen contact will set up your access.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Payout account settings read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            body (PayoutSettingsRequest, optional): The request body parameter.

        Returns:
            PayoutSettings: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/payoutSettings")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PayoutSettings.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_merchants_merchant_id_payout_settings_payout_settings_id(self,
                                                                     merchant_id,
                                                                     payout_settings_id):
        """Perform a GET request to
        /merchants/{merchantId}/payoutSettings/{payoutSettingsId}.

        Returns the payout setting identified in the path.
        Use this endpoint if your integration requires it, such as Adyen for
        Platforms Manage. Your Adyen contact will set up your access.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Payout account settings read

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            payout_settings_id (str): The unique identifier of the payout setting.

        Returns:
            PayoutSettings: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/payoutSettings/{payoutSettingsId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("payoutSettingsId")
                .value(payout_settings_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PayoutSettings.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def delete_merchants_merchant_id_payout_settings_payout_settings_id(self,
                                                                        merchant_id,
                                                                        payout_settings_id):
        """Perform a DELETE request to
        /merchants/{merchantId}/payoutSettings/{payoutSettingsId}.

        Deletes the payout setting identified in the path.
        Use this endpoint if your integration requires it, such as Adyen for
        Platforms Manage. Your Adyen contact will set up your access.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Payout account settings read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            payout_settings_id (str): The unique identifier of the payout setting.

        Returns:
            void: Response from the API. No Content - look at the actual response
                code for the status of the request.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/payoutSettings/{payoutSettingsId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("payoutSettingsId")
                .value(payout_settings_id)
                .should_encode(True))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()

    def patch_merchants_merchant_id_payout_settings_payout_settings_id(self,
                                                                       merchant_id,
                                                                       payout_settings_id,
                                                                       body=None):
        """Perform a PATCH request to
        /merchants/{merchantId}/payoutSettings/{payoutSettingsId}.

        Updates the payout setting identified in the path. You can enable or disable
        the payout setting.
        Use this endpoint if your integration requires it, such as Adyen for
        Platforms Manage. Your Adyen contact will set up your access.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Payout account settings read and write

        Args:
            merchant_id (str): The unique identifier of the merchant account.
            payout_settings_id (str): The unique identifier of the payout setting.
            body (UpdatePayoutSettingsRequest, optional): The request body parameter.

        Returns:
            PayoutSettings: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/merchants/{merchantId}/payoutSettings/{payoutSettingsId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("payoutSettingsId")
                .value(payout_settings_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PayoutSettings.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
