"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_exception import (
    ServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.calculate_pci_status_response import (
    CalculatePciStatusResponse,
)
from adyen.models.generate_pci_description_response import (
    GeneratePciDescriptionResponse,
)
from adyen.models.get_pci_questionnaire_infos_response import (
    GetPciQuestionnaireInfosResponse,
)
from adyen.models.get_pci_questionnaire_response import (
    GetPciQuestionnaireResponse,
)
from adyen.models.pci_signing_response import (
    PciSigningResponse,
)


class PciQuestionnairesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize PciQuestionnairesApi object."""
        super(PciQuestionnairesApi, self).__init__(config)

    def get_legal_entities_id_pci_questionnaires(self,
                                                 id):
        """Perform a GET request to /legalEntities/{id}/pciQuestionnaires.

        Get a list of signed PCI questionnaires.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity to get PCI
                questionnaire information.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/pciQuestionnaires")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetPciQuestionnaireInfosResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_legal_entities_id_pci_questionnaires_generate_pci_templates(self,
                                                                         id,
                                                                         body=None):
        """Perform a POST request to
        /legalEntities/{id}/pciQuestionnaires/generatePciTemplates.

        Generates the required PCI questionnaires based on the user's
        [salesChannel](https://docs.adyen.com/api-explorer/#/legalentity/latest/post/b
        usinessLines__reqParam_salesChannels).
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity to get PCI
                questionnaire information.
            body (GeneratePciDescriptionRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/pciQuestionnaires/generatePciTemplates")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GeneratePciDescriptionResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_legal_entities_id_pci_questionnaires_sign_pci_templates(self,
                                                                     id,
                                                                     body=None):
        """Perform a POST request to
        /legalEntities/{id}/pciQuestionnaires/signPciTemplates.

        Signs the required PCI questionnaire.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The legal entity ID of the user that has a contractual
                relationship with your platform.
            body (PciSigningRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/pciQuestionnaires/signPciTemplates")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PciSigningResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_legal_entities_id_pci_questionnaires_signing_required(self,
                                                                   id,
                                                                   body=None):
        """Perform a POST request to
        /legalEntities/{id}/pciQuestionnaires/signingRequired.

        Calculate PCI status of a legal entity.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity to calculate PCI
                status.
            body (CalculatePciStatusRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/pciQuestionnaires/signingRequired")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CalculatePciStatusResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def get_legal_entities_id_pci_questionnaires_pciid(self,
                                                       id,
                                                       pciid):
        """Perform a GET request to
        /legalEntities/{id}/pciQuestionnaires/{pciid}.

        Returns the signed PCI questionnaire.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The legal entity ID of the individual who signed the PCI
                questionnaire.
            pciid (str): The unique identifier of the signed PCI questionnaire.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/pciQuestionnaires/{pciid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("pciid")
                .value(pciid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetPciQuestionnaireResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()
