"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.dispute_response import DisputeResponse


class RaiseDisputesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize RaiseDisputesApi object."""
        super(RaiseDisputesApi, self).__init__(config)

    def get_disputes(self,
                     status=None,
                     payment_instrument=None,
                     created_since=None,
                     created_until=None,
                     offset=None,
                     limit=None):
        """Perform a GET request to /disputes.

        Returns a list of raised disputes that match the query parameters.
        This endpoint supports cursor-based pagination. The response returns the
        first page of results, and returns links to the next page when applicable.
        You can use the links to page through the results. The response also returns
        links to the previous page when applicable.

        Args:
            status (str, optional): The current status of the dispute.  Possible
                values: **draft**, **submitted**, **closed**, **won**,
                **chargeback**, **secondPresentment**.
            payment_instrument (str, optional): The unique identifier of the payment
                instrument.
            created_since (str, optional): Only include disputes that have been
                created on or after this point in time. The value must be in [ISO
                8601](https://en.wikipedia.org/wiki/ISO_8601\)  format. For example,
                2021-05-30T15:07:40Z.
            created_until (str, optional): Only include disputes that have been
                created on or before this point in time. The value must be in [ISO
                8601](https://en.wikipedia.org/wiki/ISO_8601\) format. For example,
                **2021-05-30T15:07:40Z**.
            offset (str, optional): The number of items that you want to skip.
            limit (str, optional): The number of items returned per page, maximum of
                500 items. By default, the response returns 100 items per page.

        Returns:
            List[DisputeResponse]: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT23)
            .path("/disputes")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("paymentInstrument")
                .value(payment_instrument))
            .query_param(Parameter()
                .key("createdSince")
                .value(created_since))
            .query_param(Parameter()
                .key("createdUntil")
                .value(created_until))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputeResponse.from_dictionary)
            .local_error("401",
                "Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_disputes(self,
                      body):
        """Perform a POST request to /disputes.

        Raise a dispute for an underlying transaction, providing a dispute type and
        the amount you want to dispute.
        Raising a dispute returns a dispute ID, which you can use to update details
        about the dispute, provide supporting documentation, close the dispute, or
        submit the dispute for a chargeback. You can also use the dispute ID to view
        the status of the dispute.

        Args:
            body (DisputeRequest): The request body parameter.

        Returns:
            DisputeResponse: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT23)
            .path("/disputes")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputeResponse.from_dictionary)
            .local_error("401",
                "Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def get_disputes_id(self,
                        id):
        """Perform a GET request to /disputes/{id}.

        Get a raised dispute by ID.

        Args:
            id (str): The unique identifier of the raised dispute.

        Returns:
            DisputeResponse: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT23)
            .path("/disputes/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputeResponse.from_dictionary)
            .local_error("401",
                "Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def patch_disputes_id(self,
                          id,
                          body=None):
        """Perform a PATCH request to /disputes/{id}.

        Update information related to a raised dispute, or change a dispute's status
        from **draft** to **submitted** or **closed**.
        **Note:** Changing the status of a dispute to **submitted** or **closed** is
        a final action. You cannot make updates to a **submitted** or **closed**
        dispute. Make sure to upload all supporting attachments using the `POST
        /disputes/{id}/attachments` endpoint before you submit a dispute. When you
        update a dispute to **submitted**, Adyen sends the raised dispute to the card
        scheme for review and acquirer defense. When you update a raised dispute to
        **closed**, Adyen closes the dispute, and the dispute is no longer eligible
        for review by the card scheme.

        Args:
            id (str): The unique identifier of the raised dispute.
            body (PatchableDisputeRequest, optional): The request body parameter.

        Returns:
            DisputeResponse: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT23)
            .path("/disputes/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputeResponse.from_dictionary)
            .local_error("401",
                "Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()
