"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.calculate_rate_response import (
    CalculateRateResponse,
)


class RatesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize RatesApi object."""
        super(RatesApi, self).__init__(config)

    def post_rates_calculate(self,
                             body):
        """Perform a POST request to /rates/calculate.

        Returns the calculated amounts and rates required to convert the currency of
        a transaction.

        Args:
            body (CalculateRateRequest): The request body parameter.

        Returns:
            CalculateRateResponse: Response from the API. Successful operation

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT7)
            .path("/rates/calculate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CalculateRateResponse.from_dictionary)
            .local_error("401", "Unauthorized", DefaultErrorResponseEntityException)
            .local_error("403", "Forbidden", DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()
