"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rates_calculate_401_error_exception import (
    RatesCalculate401ErrorException,
)
from adyen.exceptions.rates_calculate_403_error_exception import (
    RatesCalculate403ErrorException,
)
from adyen.exceptions.rates_calculate_422_error_exception import (
    RatesCalculate422ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.rates_calculate_response import (
    RatesCalculateResponse,
)


class RatesApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize RatesApi object."""
        super(RatesApi, self).__init__(config)

    def post_rates_calculate(self,
                             body):
        """Perform a POST request to /rates/calculate.

        Returns the calculated amounts and rates required to convert the currency of
        a transaction.

        Args:
            body (RatesCalculateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/rates/calculate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RatesCalculateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", RatesCalculate401ErrorException)
            .local_error("403", "Forbidden", RatesCalculate403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RatesCalculate422ErrorException),
        ).execute()
