"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.balance_accounts_recurring_top_ups_400_error_exception import (
    BalanceAccountsRecurringTopUps400ErrorException,
)
from adyen.exceptions.balance_accounts_recurring_top_ups_401_error_exception import (
    BalanceAccountsRecurringTopUps401ErrorException,
)
from adyen.exceptions.balance_accounts_recurring_top_ups_403_error_exception import (
    BalanceAccountsRecurringTopUps403ErrorException,
)
from adyen.exceptions.balance_accounts_recurring_top_ups_404_error_exception import (
    BalanceAccountsRecurringTopUps404ErrorException,
)
from adyen.exceptions.balance_accounts_recurring_top_ups_422_error_exception import (
    BalanceAccountsRecurringTopUps422ErrorException,
)
from adyen.exceptions.balance_accounts_recurring_top_ups_500_error_exception import (
    BalanceAccountsRecurringTopUps500ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.recurring_top_up import RecurringTopUp
from adyen.models.recurring_top_ups_result import (
    RecurringTopUpsResult,
)


class RecurringTopUpsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize RecurringTopUpsApi object."""
        super(RecurringTopUpsApi, self).__init__(config)

    def get_balance_accounts_balance_account_id_recurring_top_ups(self,
                                                                  balance_account_id,
                                                                  limit=10,
                                                                  cursor=None):
        """Perform a GET request to
        /balanceAccounts/{balanceAccountId}/recurringTopUps.

        View all recurring top ups configured for a specific `balanceAccountId`.
        For more information, refer to [Manage recurring
        top-ups](https://docs.adyen.com/issuing/add-manage-funds/top-ups/manage-recurr
        ing-top-ups).

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            limit (int, optional): The number of items to return per page. Value must
                be between 1 and 100.
            cursor (str, optional): The cursor used for pagination. Required if you
                want to see the next or previous page of results.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/recurringTopUps")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("cursor")
                .value(cursor))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RecurringTopUpsResult.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsRecurringTopUps401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsRecurringTopUps403ErrorException)
            .local_error("404",
                "Not Found - the recurring top up was not found",
                BalanceAccountsRecurringTopUps404ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalanceAccountsRecurringTopUps500ErrorException),
        ).execute()

    def post_balance_accounts_balance_account_id_recurring_top_ups(self,
                                                                   balance_account_id,
                                                                   body):
        """Perform a POST request to
        /balanceAccounts/{balanceAccountId}/recurringTopUps.

        Create a recurring top up configuration.
        For more information, refer to [Create recurring
        top-ups](https://docs.adyen.com/issuing/add-manage-funds/top-ups/create-recurr
        ing-top-ups).

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            body (CreateRecurringTopUp): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/recurringTopUps")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RecurringTopUp.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                BalanceAccountsRecurringTopUps400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsRecurringTopUps401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsRecurringTopUps403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsRecurringTopUps422ErrorException),
        ).execute()

    def delete_balance_accounts_balance_account_id_recurring_top_ups_top_up_id(self,
                                                                               balance_account_id,
                                                                               top_up_id):
        """Perform a DELETE request to
        /balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}.

        Delete a recurring top up configuration by `topUpId`.
        For more information, refer to [Manage recurring
        top-ups](https://docs.adyen.com/issuing/add-manage-funds/top-ups/manage-recurr
        ing-top-ups).

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            top_up_id (str): The unique identifier of the recurring top-up you want
                to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. No Content - the
                request has been successfully processed, but there is no additional
                content.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("topUpId")
                .value(top_up_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                BalanceAccountsRecurringTopUps400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsRecurringTopUps401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsRecurringTopUps403ErrorException)
            .local_error("404",
                "Not Found - the recurring top up was not found",
                BalanceAccountsRecurringTopUps404ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsRecurringTopUps422ErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                BalanceAccountsRecurringTopUps500ErrorException),
        ).execute()

    def patch_balance_accounts_balance_account_id_recurring_top_ups_top_up_id(self,
                                                                              balance_account_id,
                                                                              top_up_id,
                                                                              body):
        """Perform a PATCH request to
        /balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}.

        Update the configuration of an existing recurring top up.
        For more information, refer to [Manage recurring
        top-ups](https://docs.adyen.com/issuing/add-manage-funds/top-ups/manage-recurr
        ing-top-ups).

        Args:
            balance_account_id (str): The unique identifier of the balance account.
            top_up_id (str): The unique identifier of the recurring top-up you want
                to update.
            body (PatchableCreateRecurringTopUp): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("balanceAccountId")
                .value(balance_account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("topUpId")
                .value(top_up_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RecurringTopUp.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                BalanceAccountsRecurringTopUps400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                BalanceAccountsRecurringTopUps401ErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                BalanceAccountsRecurringTopUps403ErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                BalanceAccountsRecurringTopUps422ErrorException),
        ).execute()
