"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.begin_sca_device_registration_response import (
    BeginScaDeviceRegistrationResponse,
)
from adyen.models.finish_sca_device_registration_response import (
    FinishScaDeviceRegistrationResponse,
)
from adyen.models.submit_sca_association_response import (
    SubmitScaAssociationResponse,
)


class SCADeviceManagementApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize SCADeviceManagementApi object."""
        super(SCADeviceManagementApi, self).__init__(config)

    def post_sca_devices(self,
                         body=None):
        """Perform a POST request to /scaDevices.

        Begins the registration process for a new Strong Customer Authentication
        (SCA) device.

        Args:
            body (BeginScaDeviceRegistrationRequest, optional): The request body
                parameter.

        Returns:
            BeginScaDeviceRegistrationResponse: Response from the API. Created - A
                device resource is created. The initial step of registration is
                complete, but the device isn't ready for use.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/scaDevices")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BeginScaDeviceRegistrationResponse.from_dictionary)
            .local_error("400",
                "Bad Request - The request contains invalid input and fails validatio"
                "n.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable entity - A request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - The server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def delete_sca_devices_device_id(self,
                                     device_id):
        """Perform a DELETE request to /scaDevices/{deviceId}.

        Deletes a Strong Customer Authentication (SCA) device.

        Args:
            device_id (str): The unique identifier of the SCA device to delete.

        Returns:
            void: Response from the API. No Content - The device was deleted
                successfully.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/scaDevices/{deviceId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("deviceId")
                .value(device_id)
                .should_encode(True)),
        ).execute()

    def patch_sca_devices_device_id(self,
                                    device_id,
                                    body=None):
        """Perform a PATCH request to /scaDevices/{deviceId}.

        Finishes the registration process for a new Strong Customer Authentication
        (SCA) device.

        Args:
            device_id (str): The unique identifier of the SCA device that you are
                associating with a resource.
            body (FinishScaDeviceRegistrationRequest, optional): The request body
                parameter.

        Returns:
            FinishScaDeviceRegistrationResponse: Response from the API. OK - Device
                registration was completed successfully.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/scaDevices/{deviceId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("deviceId")
                .value(device_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(FinishScaDeviceRegistrationResponse.from_dictionary)
            .local_error("400",
                "Bad Request - The request contains invalid input and fails validatio"
                "n.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("404",
                "Not Found - Device not found.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable entity - A request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - The server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_sca_devices_device_id_sca_associations(self,
                                                    device_id,
                                                    body=None):
        """Perform a POST request to /scaDevices/{deviceId}/scaAssociations.

        Creates an association between an SCA-enabled device and an entity, such as
        an account holder. This action does not guarantee the association is
        immediately ready for use; its status may be `pendingApproval` if the account
        holder has existing devices.

        Args:
            device_id (str): The unique identifier of the SCA device that you are
                associating with a resource.
            body (SubmitScaAssociationRequest, optional): The request body parameter.

        Returns:
            SubmitScaAssociationResponse: Response from the API. Created -
                Association created.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/scaDevices/{deviceId}/scaAssociations")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("deviceId")
                .value(device_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SubmitScaAssociationResponse.from_dictionary)
            .local_error("400",
                "Bad Request - The request contains invalid input and fails validatio"
                "n.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - Authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("403",
                "Forbidden - Insufficient permissions to process the request.",
                DefaultErrorResponseEntityException)
            .local_error("404",
                "Not Found - Device not found.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - A request validation error.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - The server could not process the request.",
                DefaultErrorResponseEntityException),
        ).execute()
