"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.authentication_session_response import (
    AuthenticationSessionResponse,
)
from adyen.models.certificate_loading_response import (
    CertificateLoadingResponse,
)


class SessionAuthenticationApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize SessionAuthenticationApi object."""
        super(SessionAuthenticationApi, self).__init__(config)

    def post_sessions(self,
                      body):
        """Perform a POST request to /sessions.

        Creates a session token that is required to integrate
        [components](https://docs.adyen.com/platforms/components-overview).
        The response contains encrypted session data. The front end then uses the
        session data to make the required server-side calls for the component.
        To create a token, you must meet specific requirements. These requirements
        vary depending on the type of component. For more information, see the
        documentation for
        [Onboarding](https://docs.adyen.com/platforms/onboard-users/components) and
        [Platform Experience](https://docs.adyen.com/platforms/build-user-dashboards)
        components.

        Args:
            body (AuthenticationSessionRequest): The request body parameter.

        Returns:
            AuthenticationSessionResponse: Response from the API. Successful operation

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT17)
            .path("/sessions")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AuthenticationSessionResponse.from_dictionary)
            .local_error("400", "Bad request", DefaultErrorResponseEntityException)
            .local_error("401", "Unauthorized", DefaultErrorResponseEntityException)
            .local_error("403", "Forbidden", DefaultErrorResponseEntityException),
        ).execute()

    def post_auth_certificate(self,
                              x_api_key=None,
                              body=None):
        """Perform a POST request to /auth/certificate.

        Establishes a secure communication session between the Mobile SDK and the
        Adyen payments platform, through mutual authentication. The request sends a
        setup token that identifies the SDK and the device. The response returns a
        session token that the SDK can use to authenticate responses received from
        the Adyen payments platform.

        Args:
            x_api_key (str, optional): The API key to authenticate API requests.
            body (CertificateLoadingRequest, optional): The request body parameter.

        Returns:
            CertificateLoadingResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT25)
            .path("/auth/certificate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("X-API-Key")
                .value(x_api_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CertificateLoadingResponse.from_dictionary)
            .local_error("400",
                "Bad request - validation failed.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable entity - session request could not be processed.",
                DefaultErrorResponseEntityException)
            .local_error("500",
                "Internal server error.",
                DefaultErrorResponseEntityException),
        ).execute()
