"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.auth_certificate_400_error_exception import (
    AuthCertificate400ErrorException,
)
from adyen.exceptions.auth_certificate_401_error_exception import (
    AuthCertificate401ErrorException,
)
from adyen.exceptions.auth_certificate_422_error_exception import (
    AuthCertificate422ErrorException,
)
from adyen.exceptions.auth_certificate_500_error_exception import (
    AuthCertificate500ErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.create_session_response import (
    CreateSessionResponse,
)


class SessionAuthenticationApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize SessionAuthenticationApi object."""
        super(SessionAuthenticationApi, self).__init__(config)

    def post_auth_certificate(self,
                              x_api_key=None,
                              body=None):
        """Perform a POST request to /auth/certificate.

        Establishes a secure communication session between the Mobile SDK and the
        Adyen payments platform, through mutual authentication. The request sends a
        setup token that identifies the SDK and the device. The response returns a
        session token that the SDK can use to authenticate responses received from
        the Adyen payments platform.

        Args:
            x_api_key (str, optional): The API key to authenticate API requests.
            body (CertificateLoadingRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/certificate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("X-API-Key")
                .value(x_api_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateSessionResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad request - validation failed.",
                AuthCertificate400ErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                AuthCertificate401ErrorException)
            .local_error("422",
                "Unprocessable entity - session request could not be processed.",
                AuthCertificate422ErrorException)
            .local_error("500",
                "Internal server error.",
                AuthCertificate500ErrorException),
        ).execute()
