"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.logo import Logo
from adyen.models.terminal_settings import TerminalSettings


class TerminalSettingsTerminalLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize TerminalSettingsTerminalLevelApi object."""
        super(TerminalSettingsTerminalLevelApi, self).__init__(config)

    def get_terminals_terminal_id_terminal_logos(self,
                                                 terminal_id):
        """Perform a GET request to /terminals/{terminalId}/terminalLogos.

        Returns the logo that is configured for the payment terminal identified in
        the path.
        The logo is returned as a Base64-encoded string. You need to Base64-decode
        the string to get the actual image file.
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Terminal settings read
        * Management API—Terminal settings read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            terminal_id (str): The unique identifier of the payment terminal.

        Returns:
            Logo: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/terminals/{terminalId}/terminalLogos")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("terminalId")
                .value(terminal_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Logo.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_terminals_terminal_id_terminal_logos(self,
                                                   terminal_id,
                                                   body=None):
        """Perform a PATCH request to /terminals/{terminalId}/terminalLogos.

        Updates the logo for the payment terminal identified in the path.
        * To change the logo, specify the image file as a Base64-encoded string.
        * To restore the logo inherited from a higher level (store, merchant account,
        or company account), specify an empty logo value.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Terminal settings read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            terminal_id (str): The unique identifier of the payment terminal.
            body (Logo, optional): The request body parameter.

        Returns:
            Logo: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/terminals/{terminalId}/terminalLogos")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("terminalId")
                .value(terminal_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Logo.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_terminals_terminal_id_terminal_settings(self,
                                                    terminal_id):
        """Perform a GET request to /terminals/{terminalId}/terminalSettings.

        Returns the settings that are configured for the payment terminal identified
        in the path.
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Terminal settings read
        * Management API—Terminal settings read and write
        For [sensitive terminal
        settings](https://docs.adyen.com/point-of-sale/automating-terminal-management/
        configure-terminals-api#sensitive-terminal-settings), your API credential
        must have the following role:
        * Management API—Terminal settings Advanced read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            terminal_id (str): The unique identifier of the payment terminal.

        Returns:
            TerminalSettings: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/terminals/{terminalId}/terminalSettings")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("terminalId")
                .value(terminal_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TerminalSettings.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_terminals_terminal_id_terminal_settings(self,
                                                      terminal_id,
                                                      body=None):
        """Perform a PATCH request to /terminals/{terminalId}/terminalSettings.

        Updates the settings that are configured for the payment terminal identified
        in the path.
        * To change a parameter value, include the full object that contains the
        parameter, even if you don't want to change all parameters in the object.
        * To restore a parameter value inherited from a higher level, include the
        full object that contains the parameter, and specify an empty value for the
        parameter or omit the parameter.
        * Objects that are not included in the request are not updated.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Terminal settings read and write
        For [sensitive terminal
        settings](https://docs.adyen.com/point-of-sale/automating-terminal-management/
        configure-terminals-api#sensitive-terminal-settings), your API credential
        must have the following role:
        * Management API—Terminal settings Advanced read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            terminal_id (str): The unique identifier of the payment terminal.
            body (TerminalSettings, optional): The request body parameter.

        Returns:
            TerminalSettings: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/terminals/{terminalId}/terminalSettings")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("terminalId")
                .value(terminal_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TerminalSettings.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
