"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.list_terminals_response import (
    ListTerminalsResponse,
)


class TerminalsTerminalLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize TerminalsTerminalLevelApi object."""
        super(TerminalsTerminalLevelApi, self).__init__(config)

    def get_terminals(self,
                      search_query=None,
                      otp_query=None,
                      countries=None,
                      merchant_ids=None,
                      store_ids=None,
                      brand_models=None,
                      page_number=None,
                      page_size=None):
        """Perform a GET request to /terminals.

        Returns the payment terminals that the API credential has access to and that
        match the query parameters.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API — Terminal actions read
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            search_query (str, optional): Returns terminals with an ID that contains
                the specified string. If present, other query parameters are ignored.
            otp_query (str, optional): Returns one or more terminals associated with
                the one-time passwords specified in the request. If this query
                parameter is used, other query parameters are ignored.
            countries (str, optional): Returns terminals located in the countries
                specified by their [two-letter country
                code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
            merchant_ids (str, optional): Returns terminals that belong to the
                merchant accounts specified by their unique merchant account ID.
            store_ids (str, optional): Returns terminals that are assigned to the
                [stores](https://docs.adyen.com/api-explorer/#/ManagementService/lates
                t/get/stores) specified by their unique store ID.
            brand_models (str, optional): Returns terminals of the
                [models](https://docs.adyen.com/api-explorer/#/ManagementService/lates
                t/get/companies/{companyId}/terminalModels) specified in the format
                *brand.model*.
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 20 items on a page.

        Returns:
            ListTerminalsResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/terminals")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("searchQuery")
                .value(search_query))
            .query_param(Parameter()
                .key("otpQuery")
                .value(otp_query))
            .query_param(Parameter()
                .key("countries")
                .value(countries))
            .query_param(Parameter()
                .key("merchantIds")
                .value(merchant_ids))
            .query_param(Parameter()
                .key("storeIds")
                .value(store_ids))
            .query_param(Parameter()
                .key("brandModels")
                .value(brand_models))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListTerminalsResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_terminals_terminal_id_reassign(self,
                                            terminal_id,
                                            body=None):
        """Perform a POST request to /terminals/{terminalId}/reassign.

        Reassigns a payment terminal to a company account, merchant account, merchant
        account inventory, or a store.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Assign Terminal
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            terminal_id (str): The unique identifier of the payment terminal.
            body (TerminalReassignmentRequest, optional): The request body parameter.

        Returns:
            void: Response from the API. No Content - look at the actual response
                code for the status of the request.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/terminals/{terminalId}/reassign")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("terminalId")
                .value(terminal_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()
