"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.external_terminal_action import (
    ExternalTerminalAction,
)
from adyen.models.list_external_terminal_actions_response import (
    ListExternalTerminalActionsResponse,
)


class TerminalActionsCompanyLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize TerminalActionsCompanyLevelApi object."""
        super(TerminalActionsCompanyLevelApi, self).__init__(config)

    def get_companies_company_id_terminal_actions(self,
                                                  company_id,
                                                  page_number=None,
                                                  page_size=None,
                                                  status=None,
                                                  mtype=None):
        """Perform a GET request to /companies/{companyId}/terminalActions.

        Returns the [terminal
        actions](https://docs.adyen.com/point-of-sale/automating-terminal-management/t
        erminal-actions-api) that have been scheduled for the company identified in
        the path.The response doesn't include actions that are scheduled by Adyen.
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Terminal actions read
        * Management API—Terminal actions read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 20 items on a page.
            status (str, optional): Returns terminal actions with the specified
                status.  Allowed values: **pending**, **successful**, **failed**,
                **cancelled**, **tryLater**.
            mtype (str, optional): Returns terminal actions of the specified type.
                Allowed values: **InstallAndroidApp**, **UninstallAndroidApp**,
                **InstallAndroidCertificate**, **UninstallAndroidCertificate**.

        Returns:
            ListExternalTerminalActionsResponse: Response from the API. OK - the
                request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/terminalActions")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("type")
                .value(mtype))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListExternalTerminalActionsResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_companies_company_id_terminal_actions_action_id(self,
                                                            company_id,
                                                            action_id):
        """Perform a GET request to
        /companies/{companyId}/terminalActions/{actionId}.

        Returns the details of the [terminal
        action](https://docs.adyen.com/point-of-sale/automating-terminal-management/te
        rminal-actions-api) identified in the path.
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Terminal actions read
        * Management API—Terminal actions read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.
            action_id (str): The unique identifier of the terminal action.

        Returns:
            ExternalTerminalAction: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/terminalActions/{actionId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("actionId")
                .value(action_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExternalTerminalAction.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
