"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_exception import (
    ServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.accept_terms_of_service_response import (
    AcceptTermsOfServiceResponse,
)
from adyen.models.calculate_terms_of_service_status_response import (
    CalculateTermsOfServiceStatusResponse,
)
from adyen.models.get_accepted_terms_of_service_document_response import (
    GetAcceptedTermsOfServiceDocumentResponse,
)
from adyen.models.get_terms_of_service_acceptance_infos_response import (
    GetTermsOfServiceAcceptanceInfosResponse,
)
from adyen.models.get_terms_of_service_document_response import (
    GetTermsOfServiceDocumentResponse,
)


class TermsOfServiceApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize TermsOfServiceApi object."""
        super(TermsOfServiceApi, self).__init__(config)

    def get_legal_entities_id_accepted_terms_of_service_document_termsofserviceacceptancereference(self,
                                                                                                   id,
                                                                                                   termsofserviceacceptancereference,
                                                                                                   terms_of_service_document_format=None):
        """Perform a GET request to
        /legalEntities/{id}/acceptedTermsOfServiceDocument/{termsofserviceacceptanceref
        erence}.

        Returns the accepted Terms of Service document for a legal entity.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity. For sole
                proprietorship, this is the individual legal entity ID of the owner.
                For organizations, this is the ID of the organization.
            termsofserviceacceptancereference (str): An Adyen-generated reference for
                the accepted Terms of Service.
            terms_of_service_document_format (str, optional): The format of the Terms
                of Service document. Possible values: **JSON**, **PDF**, or **TXT**

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/acceptedTermsOfServiceDocument/{termsofserviceacceptancereference}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("termsofserviceacceptancereference")
                .value(termsofserviceacceptancereference)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("termsOfServiceDocumentFormat")
                .value(terms_of_service_document_format))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetAcceptedTermsOfServiceDocumentResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def post_legal_entities_id_terms_of_service(self,
                                                id,
                                                body=None):
        """Perform a POST request to /legalEntities/{id}/termsOfService.

        Returns the Terms of Service document for a legal entity.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity. For sole
                proprietorships, this is the individual legal entity ID of the owner.
                For organizations, this is the ID of the organization.
            body (GetTermsOfServiceDocumentRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/termsOfService")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetTermsOfServiceDocumentResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def patch_legal_entities_id_terms_of_service_termsofservicedocumentid(self,
                                                                          id,
                                                                          termsofservicedocumentid,
                                                                          body=None):
        """Perform a PATCH request to
        /legalEntities/{id}/termsOfService/{termsofservicedocumentid}.

        Accepts Terms of Service.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity.  For sole
                proprietorships, this is the individual legal entity ID of the owner.
                For organizations, this is the ID of the organization.  For legal
                representatives of individuals, this is the ID of the individual.
            termsofservicedocumentid (str): The unique identifier of the Terms of
                Service document.
            body (AcceptTermsOfServiceRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/termsOfService/{termsofservicedocumentid}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("termsofservicedocumentid")
                .value(termsofservicedocumentid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AcceptTermsOfServiceResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def get_legal_entities_id_terms_of_service_acceptance_infos(self,
                                                                id):
        """Perform a GET request to
        /legalEntities/{id}/termsOfServiceAcceptanceInfos.

        Returns Terms of Service information for a legal entity.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity. For sole
                proprietorships, this is the individual legal entity ID of the owner.
                For organizations, this is the ID of the organization.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/termsOfServiceAcceptanceInfos")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetTermsOfServiceAcceptanceInfosResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def get_legal_entities_id_terms_of_service_status(self,
                                                      id):
        """Perform a GET request to /legalEntities/{id}/termsOfServiceStatus.

        Returns the required types of Terms of Service that need to be accepted by a
        legal entity.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the legal entity. For sole
                proprietorships, this is the individual legal entity ID of the owner.
                For organizations, this is the ID of the organization.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/legalEntities/{id}/termsOfServiceStatus")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CalculateTermsOfServiceStatusResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()
