"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.schedule_terminal_actions_response import (
    ScheduleTerminalActionsResponse,
)


class TerminalActionsTerminalLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize TerminalActionsTerminalLevelApi object."""
        super(TerminalActionsTerminalLevelApi, self).__init__(config)

    def post_terminals_schedule_actions(self,
                                        body=None):
        """Perform a POST request to /terminals/scheduleActions.

        Schedules a [terminal
        action](https://docs.adyen.com/point-of-sale/automating-terminal-management/te
        rminal-actions-api) by specifying the action and the terminals that the
        action must be applied to.
        The following restrictions apply:
        * You can schedule only one action at a time. For example, to install a new
        app version and remove an old app version, you have to make two API requests.
        * The maximum number of terminals in a request is **100**. For example, to
        apply an action to 250 terminals, you have to divide the terminals over three
        API requests.
        * If there is an error with one or more terminal IDs in the request, the
        action is scheduled for none of the terminals. You need to fix the error and
        try again.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Terminal actions read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            body (ScheduleTerminalActionsRequest, optional): The request body
                parameter.

        Returns:
            ScheduleTerminalActionsResponse: Response from the API. OK - the request
                has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/terminals/scheduleActions")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ScheduleTerminalActionsResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
