"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.logo import Logo
from adyen.models.terminal_settings import TerminalSettings


class TerminalSettingsCompanyLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize TerminalSettingsCompanyLevelApi object."""
        super(TerminalSettingsCompanyLevelApi, self).__init__(config)

    def get_companies_company_id_terminal_logos(self,
                                                company_id,
                                                model):
        """Perform a GET request to /companies/{companyId}/terminalLogos.

        Returns the logo that is configured for a specific payment terminal model at
        the company identified in the path.
        The logo is returned as a Base64-encoded string. You need to Base64-decode
        the string to get the actual image file.
        This logo applies to all terminals of the specified model under the company,
        unless a different logo is configured at a lower level (merchant account,
        store, or individual terminal).
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Terminal settings read
        * Management API—Terminal settings read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.
            model (str): The terminal model. Possible values: E355, VX675WIFIBT,
                VX680, VX690, VX700, VX820, M400, MX925, P400Plus, UX300, UX410,
                V200cPlus, V240mPlus, V400cPlus, V400m, e280, e285, e285p, S1E, S1EL,
                S1F2, S1L, S1U, S7T.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/terminalLogos")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("model")
                .value(model)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Logo.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_companies_company_id_terminal_logos(self,
                                                  company_id,
                                                  model,
                                                  body=None):
        """Perform a PATCH request to /companies/{companyId}/terminalLogos.

        Updates the logo that is configured for a specific payment terminal model at
        the company identified in the path. You can update the logo for only one
        terminal model at a time.
        This logo applies to all terminals of the specified model under the company,
        unless a different logo is configured at a lower level (merchant account,
        store, or individual terminal).
        * To change the logo, specify the image file as a Base64-encoded string.
        * To restore the logo inherited from the Adyen PSP level, specify an empty
        logo value.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Terminal settings read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.
            model (str): The terminal model. Possible values: E355, VX675WIFIBT,
                VX680, VX690, VX700, VX820, M400, MX925, P400Plus, UX300, UX410,
                V200cPlus, V240mPlus, V400cPlus, V400m, e280, e285, e285p, S1E, S1EL,
                S1F2, S1L, S1U, S7T.
            body (Logo, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/terminalLogos")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("model")
                .value(model)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Logo.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_companies_company_id_terminal_settings(self,
                                                   company_id):
        """Perform a GET request to /companies/{companyId}/terminalSettings.

        Returns the payment terminal settings that are configured for the company
        identified in the path. These settings apply to all terminals under the
        company, unless different values are configured at a lower level (merchant
        account, store, or individual terminal).
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Terminal settings read
        * Management API—Terminal settings read and write
        For [sensitive terminal
        settings](https://docs.adyen.com/point-of-sale/automating-terminal-management/
        configure-terminals-api#sensitive-terminal-settings), your API credential
        must have the following role:
        * Management API—Terminal settings Advanced read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/terminalSettings")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TerminalSettings.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_companies_company_id_terminal_settings(self,
                                                     company_id,
                                                     body=None):
        """Perform a PATCH request to /companies/{companyId}/terminalSettings.

        Updates payment terminal settings for the company identified in the path.
        These settings apply to all terminals under the company, unless different
        values are configured at a lower level (merchant account, store, or
        individual terminal).
        * To change a parameter value, include the full object that contains the
        parameter, even if you don't want to change all parameters in the object.
        * To restore a parameter value inherited from the Adyen PSP level, include
        the full object that contains the parameter, and specify an empty value for
        the parameter or omit the parameter.
        * Objects that are not included in the request are not updated.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Terminal settings read and write
        For [sensitive terminal
        settings](https://docs.adyen.com/point-of-sale/automating-terminal-management/
        configure-terminals-api#sensitive-terminal-settings), your API credential
        must have the following role:
        * Management API—Terminal settings Advanced read and write
        In the live environment, requests to this endpoint are subject to [rate
        limits](https://docs.adyen.com/point-of-sale/automating-terminal-management#ra
        te-limits-in-the-live-environment).

        Args:
            company_id (str): The unique identifier of the company account.
            body (TerminalSettings, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/companies/{companyId}/terminalSettings")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TerminalSettings.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
