"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.default_error_response_entity_exception import (
    DefaultErrorResponseEntityException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.transfer_limit import TransferLimit
from adyen.models.transfer_limit_list_response import (
    TransferLimitListResponse,
)


class TransferLimitsBalanceAccountLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize TransferLimitsBalanceAccountLevelApi object."""
        super(TransferLimitsBalanceAccountLevelApi, self).__init__(config)

    def get_balance_accounts_id_transfer_limits(self,
                                                id,
                                                scope=None,
                                                transfer_type=None,
                                                status=None):
        """Perform a GET request to /balanceAccounts/{id}/transferLimits.

        Filter and view the transfer limits configured for a balance account using
        the balance account's unique `id` and the available query parameters.

        Args:
            id (str): The unique identifier of the balance account.
            scope (ScopeEnum, optional): The scope to which the transfer limit
                applies. Possible values: * **perTransaction**: you set a maximum
                amount for each transfer made from the balance account or balance
                platform. * **perDay**: you set a maximum total amount for all
                transfers made from the balance account or balance platform in a day.
            transfer_type (TransferTypeEnum, optional): The type of transfer to which
                the limit applies. Possible values: * **instant**: the limit applies
                to transfers with an **instant** priority. * **all**: the limit
                applies to all transfers, regardless of priority.
            status (LimitStatusEnum, optional): The status of the transfer limit.
                Possible values:    * **active**: the limit is currently active. *
                **inactive**: the limit is currently inactive. * **pendingSCA**: the
                limit is pending until your user performs SCA. * **scheduled**: the
                limit is scheduled to become active at a future date.

        Returns:
            TransferLimitListResponse: Response from the API. OK - The request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{id}/transferLimits")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .query_param(Parameter()
                .key("scope")
                .value(scope))
            .query_param(Parameter()
                .key("transferType")
                .value(transfer_type))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferLimitListResponse.from_dictionary)
            .local_error("404",
                "Not found - One of the transfer limits could not be found.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Content - A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_balance_accounts_id_transfer_limits(self,
                                                 id,
                                                 body,
                                                 www_authenticate=None):
        """Perform a POST request to /balanceAccounts/{id}/transferLimits.

        Create a transfer limit for your balance account using the unique `id` of
        your balance account.

        Args:
            id (str): The unique identifier of the balance account.
            body (CreateTransferLimitRequest): The request body parameter.
            www_authenticate (str, optional): Header for authenticating through SCA

        Returns:
            TransferLimit: Response from the API. OK - The request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{id}/transferLimits")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("WWW-Authenticate")
                .value(www_authenticate))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferLimit.from_dictionary)
            .local_error("400",
                "Bad Request - The input is invalid, or no registered device for SCA "
                "was found.",
                DefaultErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - Authentication required via Strong Customer Authentic"
                "ation (SCA). The client must resolve the provided challenge.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Content - A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def post_balance_accounts_id_transfer_limits_approve(self,
                                                         id,
                                                         body,
                                                         www_authenticate=None):
        """Perform a POST request to
        /balanceAccounts/{id}/transferLimits/approve.

        Approve transfer limits that are pending SCA authentication.

        Args:
            id (str): The unique identifier of the balance account.
            body (ApproveTransferLimitRequest): The request body parameter.
            www_authenticate (str, optional): Header for authenticating using SCA.

        Returns:
            void: Response from the API. No Content - The request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{id}/transferLimits/approve")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("WWW-Authenticate")
                .value(www_authenticate))
            .body_serializer(APIHelper.json_serialize),
        ).execute()

    def get_balance_accounts_id_transfer_limits_current(self,
                                                        id,
                                                        scope=None,
                                                        transfer_type=None):
        """Perform a GET request to
        /balanceAccounts/{id}/transferLimits/current.

        Get all transfer limits that currently apply to a balance account using the
        unique `id` of the balance account.

        Args:
            id (str): The unique identifier of the balance account.
            scope (ScopeEnum, optional): The scope to which the transfer limit
                applies. Possible values: * **perTransaction**: you set a maximum
                amount for each transfer made from the balance account or balance
                platform. * **perDay**: you set a maximum total amount for all
                transfers made from the balance account or balance platform in a day.
            transfer_type (TransferTypeEnum, optional): The type of transfer to which
                the limit applies. Possible values: * **instant**: the limit applies
                to transfers with an **instant** priority. * **all**: the limit
                applies to all transfers, regardless of priority.

        Returns:
            TransferLimitListResponse: Response from the API. OK - The request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{id}/transferLimits/current")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .query_param(Parameter()
                .key("scope")
                .value(scope))
            .query_param(Parameter()
                .key("transferType")
                .value(transfer_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferLimitListResponse.from_dictionary)
            .local_error("404",
                "Not found - One of the transfer limits could not be found.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Content - A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def get_balance_accounts_id_transfer_limits_transfer_limit_id(self,
                                                                  id,
                                                                  transfer_limit_id):
        """Perform a GET request to
        /balanceAccounts/{id}/transferLimits/{transferLimitId}.

        Get the details of a transfer limit using its unique `transferLimitId`.

        Args:
            id (str): The unique identifier of the balance account.
            transfer_limit_id (str): The unique identifier of the transfer limit.

        Returns:
            TransferLimit: Response from the API. OK - The request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{id}/transferLimits/{transferLimitId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .template_param(Parameter()
                .key("transferLimitId")
                .value(transfer_limit_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferLimit.from_dictionary)
            .local_error("404",
                "Not found - One of the transfer limits could not be found.",
                DefaultErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Content - A request validation error.",
                DefaultErrorResponseEntityException),
        ).execute()

    def delete_balance_accounts_id_transfer_limits_transfer_limit_id(self,
                                                                     id,
                                                                     transfer_limit_id):
        """Perform a DELETE request to
        /balanceAccounts/{id}/transferLimits/{transferLimitId}.

        Delete a scheduled or pending transfer limit using its unique
        `transferLimitId`. You cannot delete an active limit.

        Args:
            id (str): The unique identifier of the balance account.
            transfer_limit_id (str): The unique identifier of the transfer limit.

        Returns:
            void: Response from the API. No Content - The request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT13)
            .path("/balanceAccounts/{id}/transferLimits/{transferLimitId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .template_param(Parameter()
                .key("transferLimitId")
                .value(transfer_limit_id)
                .should_encode(True)),
        ).execute()
