"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.service_error_exception import (
    ServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.transfer_instrument import (
    TransferInstrument,
)


class TransferInstrumentsApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize TransferInstrumentsApi object."""
        super(TransferInstrumentsApi, self).__init__(config)

    def post_transfer_instruments(self,
                                  x_requested_verification_code=None,
                                  body=None):
        """Perform a POST request to /transferInstruments.

        Creates a transfer instrument.
        A transfer instrument is a bank account that a legal entity owns. Adyen
        performs verification checks on the transfer instrument as required by
        payment industry regulations. We inform you of the verification results
        through webhooks or API responses.
        When the transfer instrument passes the verification checks, you can start
        sending funds from the balance platform to the transfer instrument (such as
        payouts).
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            x_requested_verification_code (str, optional): Use a suberror code as
                your requested verification code. You can include one code at a time
                in your request header. Requested verification codes can only be used
                in your test environment.
            body (TransferInstrumentInfo, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transferInstruments")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("x-requested-verification-code")
                .value(x_requested_verification_code))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferInstrument.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def get_transfer_instruments_id(self,
                                    id):
        """Perform a GET request to /transferInstruments/{id}.

        Returns the details of a transfer instrument.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the transfer instrument.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transferInstruments/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferInstrument.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def delete_transfer_instruments_id(self,
                                       id):
        """Perform a DELETE request to /transferInstruments/{id}.

        Deletes a transfer instrument.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the transfer instrument to be deleted.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. No Content - look at
                the actual response code for the status of the request.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transferInstruments/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()

    def patch_transfer_instruments_id(self,
                                      id,
                                      x_requested_verification_code=None,
                                      body=None):
        """Perform a PATCH request to /transferInstruments/{id}.

        Updates a transfer instrument.
        Requests to this endpoint are subject to rate limits:
        - Live environments: 700 requests per 5 seconds.
        - Test environments: 200 requests per 5 seconds.
        - Failed requests are subject to a limit of 5 failures per 10 seconds.

        Args:
            id (str): The unique identifier of the transfer instrument.
            x_requested_verification_code (str, optional): Use the requested
                verification code 0_0001 to resolve any suberrors associated with the
                transfer instrument. Requested verification codes can only be used in
                your test environment.
            body (TransferInstrumentInfo, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transferInstruments/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("x-requested-verification-code")
                .value(x_requested_verification_code))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferInstrument.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceErrorException),
        ).execute()
