"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.company_user import CompanyUser
from adyen.models.create_company_user_response import (
    CreateCompanyUserResponse,
)
from adyen.models.list_company_users_response import (
    ListCompanyUsersResponse,
)


class UsersCompanyLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize UsersCompanyLevelApi object."""
        super(UsersCompanyLevelApi, self).__init__(config)

    def get_companies_company_id_users(self,
                                       company_id,
                                       page_number=None,
                                       page_size=None,
                                       username=None):
        """Perform a GET request to /companies/{companyId}/users.

        Returns the list of users for the `companyId` identified in the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Users read and write

        Args:
            company_id (str): The unique identifier of the company account.
            page_number (int, optional): The number of the page to return.
            page_size (int, optional): The number of items to have on a page. Maximum
                value is **100**. The default is **10** items on a page.
            username (str, optional): The partial or complete username to select all
                users that match.

        Returns:
            ListCompanyUsersResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/users")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("username")
                .value(username))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListCompanyUsersResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_companies_company_id_users(self,
                                        company_id,
                                        body=None):
        """Perform a POST request to /companies/{companyId}/users.

        Creates the user for the `companyId` identified in the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Users read and write

        Args:
            company_id (str): The unique identifier of the company account.
            body (CreateCompanyUserRequest, optional): The request body parameter.

        Returns:
            CreateCompanyUserResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/users")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateCompanyUserResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_companies_company_id_users_user_id(self,
                                               company_id,
                                               user_id):
        """Perform a GET request to /companies/{companyId}/users/{userId}.

        Returns user details for the `userId` and the `companyId` identified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Users read and write

        Args:
            company_id (str): The unique identifier of the company account.
            user_id (str): The unique identifier of the user.

        Returns:
            CompanyUser: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/users/{userId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("userId")
                .value(user_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CompanyUser.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_companies_company_id_users_user_id(self,
                                                 company_id,
                                                 user_id,
                                                 body=None):
        """Perform a PATCH request to /companies/{companyId}/users/{userId}.

        Updates user details for the `userId` and the `companyId` identified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Users read and write

        Args:
            company_id (str): The unique identifier of the company account.
            user_id (str): The unique identifier of the user.
            body (UpdateCompanyUserRequest, optional): The request body parameter.

        Returns:
            CompanyUser: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/users/{userId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("userId")
                .value(user_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CompanyUser.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
