"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.create_user_response import (
    CreateUserResponse,
)
from adyen.models.list_merchant_users_response import (
    ListMerchantUsersResponse,
)
from adyen.models.user import User


class UsersMerchantLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize UsersMerchantLevelApi object."""
        super(UsersMerchantLevelApi, self).__init__(config)

    def get_merchants_merchant_id_users(self,
                                        merchant_id,
                                        page_number=None,
                                        page_size=None,
                                        username=None):
        """Perform a GET request to /merchants/{merchantId}/users.

        Returns a list of users associated with the `merchantId` specified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Users read and write

        Args:
            merchant_id (str): Unique identifier of the merchant.
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page. Maximum
                value is **100**. The default is **10** items on a page.
            username (str, optional): The partial or complete username to select all
                users that match.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/users")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("username")
                .value(username))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListMerchantUsersResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_merchants_merchant_id_users(self,
                                         merchant_id,
                                         body=None):
        """Perform a POST request to /merchants/{merchantId}/users.

        Creates a user for the `merchantId` specified in the path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Users read and write

        Args:
            merchant_id (str): Unique identifier of the merchant.
            body (CreateMerchantUserRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/users")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateUserResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_merchants_merchant_id_users_user_id(self,
                                                merchant_id,
                                                user_id):
        """Perform a GET request to /merchants/{merchantId}/users/{userId}.

        Returns user details for the `userId` and the `merchantId` specified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Users read and write

        Args:
            merchant_id (str): Unique identifier of the merchant.
            user_id (str): Unique identifier of the user.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/users/{userId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("userId")
                .value(user_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(User.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def patch_merchants_merchant_id_users_user_id(self,
                                                  merchant_id,
                                                  user_id,
                                                  body=None):
        """Perform a PATCH request to /merchants/{merchantId}/users/{userId}.

        Updates user details for the `userId` and the `merchantId` specified in the
        path.
        To make this request, your API credential must have the following
        [role](https://docs.adyen.com/development-resources/api-credentials#api-permis
        sions):
        * Management API—Users read and write

        Args:
            merchant_id (str): Unique identifier of the merchant.
            user_id (str): Unique identifier of the user.
            body (UpdateMerchantUserRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchants/{merchantId}/users/{userId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("merchantId")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("userId")
                .value(user_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(User.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
