"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.checkout_error_response_entity_exception import (
    CheckoutErrorResponseEntityException,
)
from adyen.exceptions.service_error_1_exception import (
    ServiceError1Exception,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.apple_pay_session_response import (
    ApplePaySessionResponse,
)
from adyen.models.paypal_update_order_response import (
    PaypalUpdateOrderResponse,
)
from adyen.models.utility_response import UtilityResponse
from adyen.models.validate_shopper_id_response import (
    ValidateShopperIdResponse,
)


class UtilityApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize UtilityApi object."""
        super(UtilityApi, self).__init__(config)

    def post_apple_pay_sessions(self,
                                idempotency_key=None,
                                body=None):
        """Perform a POST request to /applePay/sessions.

        You need to use this endpoint if you have an API-only integration with Apple
        Pay which uses Adyen's Apple Pay certificate.
        The endpoint returns the Apple Pay session data which you need to complete
        the [Apple Pay session
        validation](https://docs.adyen.com/payment-methods/apple-pay/api-only?tab=adye
        n-certificate-validation_1#complete-apple-pay-session-validation).

        Args:
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (ApplePaySessionRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/applePay/sessions")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ApplePaySessionResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    @deprecated()
    def post_origin_keys(self,
                         idempotency_key=None,
                         body=None):
        """Perform a POST request to /originKeys.

        This operation takes the origin domains and returns a JSON object containing
        the corresponding origin keys for the domains.
        > If you're still using origin key for your Web Drop-in or Components
        integration, we recommend [switching to client
        key](https://docs.adyen.com/development-resources/client-side-authentication/m
        igrate-from-origin-key-to-client-key). This allows you to use a single key
        for all origins, add or remove origins without generating a new key, and
        detect the card type from the number entered in your payment form.

        Args:
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (UtilityRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/originKeys")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UtilityResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceError1Exception),
        ).execute()

    def post_paypal_update_order(self,
                                 idempotency_key=None,
                                 body=None):
        """Perform a POST request to /paypal/updateOrder.

        Updates the order for PayPal Express Checkout. This can be used to update the
        PayPal lightbox with an updated amount and delivery methods based on the
        delivery address.

        Args:
            idempotency_key (str, optional): A unique identifier for the message with
                a maximum of 64 characters (we recommend a UUID).
            body (PaypalUpdateOrderRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/paypal/updateOrder")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaypalUpdateOrderResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                ServiceError1Exception)
            .local_error("401",
                "Unauthorized - authentication required.",
                ServiceError1Exception)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                ServiceError1Exception)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                ServiceError1Exception)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                ServiceError1Exception),
        ).execute()

    def post_validate_shopper_id(self,
                                 body):
        """Perform a POST request to /validateShopperId.

        Validates the shopperId.

        Args:
            body (ValidateShopperIdRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK - the request has
                succeeded.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/validateShopperId")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ValidateShopperIdResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                CheckoutErrorResponseEntityException)
            .local_error("401",
                "Unauthorized - authentication required.",
                CheckoutErrorResponseEntityException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                CheckoutErrorResponseEntityException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                CheckoutErrorResponseEntityException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                CheckoutErrorResponseEntityException),
        ).execute()
