"""adyen.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from adyen.api_helper import APIHelper
from adyen.apis.base_api import BaseApi
from adyen.configuration import Server
from adyen.exceptions.rest_service_error_exception import (
    RestServiceErrorException,
)
from adyen.http.http_method_enum import HttpMethodEnum
from adyen.models.generate_hmac_key_response import (
    GenerateHmacKeyResponse,
)
from adyen.models.list_webhooks_response import (
    ListWebhooksResponse,
)
from adyen.models.test_webhook_response import (
    TestWebhookResponse,
)
from adyen.models.webhook import Webhook


class WebhooksCompanyLevelApi(BaseApi):
    """A Controller to access Endpoints in the adyen API."""

    def __init__(self, config):
        """Initialize WebhooksCompanyLevelApi object."""
        super(WebhooksCompanyLevelApi, self).__init__(config)

    def get_companies_company_id_webhooks(self,
                                          company_id,
                                          page_number=None,
                                          page_size=None):
        """Perform a GET request to /companies/{companyId}/webhooks.

        Lists all webhook configurations for the company account.
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Webhooks read
        * Management API—Webhooks read and write

        Args:
            company_id (str): Unique identifier of the [company
                account](https://docs.adyen.com/account/account-structure#company-acco
                unt).
            page_number (int, optional): The number of the page to fetch.
            page_size (int, optional): The number of items to have on a page, maximum
                100. The default is 10 items on a page.

        Returns:
            ListWebhooksResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/webhooks")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("pageNumber")
                .value(page_number))
            .query_param(Parameter()
                .key("pageSize")
                .value(page_size))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListWebhooksResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_companies_company_id_webhooks(self,
                                           company_id,
                                           body=None):
        """Perform a POST request to /companies/{companyId}/webhooks.

        Subscribe to receive webhook notifications about events related to your
        company account. You can add basic authentication to make sure the data is
        secure.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Webhooks read and write

        Args:
            company_id (str): Unique identifier of the [company
                account](https://docs.adyen.com/account/account-structure#company-acco
                unt).
            body (CreateCompanyWebhookRequest, optional): The request body parameter.

        Returns:
            Webhook: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/webhooks")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Webhook.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def get_companies_company_id_webhooks_webhook_id(self,
                                                     company_id,
                                                     webhook_id):
        """Perform a GET request to
        /companies/{companyId}/webhooks/{webhookId}.

        Returns the configuration for the webhook identified in the path.
        To make this request, your API credential must have one of the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Webhooks read
        * Management API—Webhooks read and write

        Args:
            company_id (str): Unique identifier of the [company
                account](https://docs.adyen.com/account/account-structure#company-acco
                unt).
            webhook_id (str): Unique identifier of the webhook configuration.

        Returns:
            Webhook: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/webhooks/{webhookId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Webhook.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def delete_companies_company_id_webhooks_webhook_id(self,
                                                        company_id,
                                                        webhook_id):
        """Perform a DELETE request to
        /companies/{companyId}/webhooks/{webhookId}.

        Remove the configuration for the webhook identified in the path.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Webhooks read and write

        Args:
            company_id (str): The unique identifier of the company account.
            webhook_id (str): Unique identifier of the webhook configuration.

        Returns:
            void: Response from the API. No Content - look at the actual response
                code for the status of the request.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/webhooks/{webhookId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).execute()

    def patch_companies_company_id_webhooks_webhook_id(self,
                                                       company_id,
                                                       webhook_id,
                                                       body=None):
        """Perform a PATCH request to
        /companies/{companyId}/webhooks/{webhookId}.

        Make changes to the configuration of the webhook identified in the path. The
        request contains the new values you want to have in the webhook
        configuration. The response contains the full configuration for the webhook,
        which includes the new values from the request.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Webhooks read and write

        Args:
            company_id (str): The unique identifier of the company account.
            webhook_id (str): Unique identifier of the webhook configuration.
            body (UpdateCompanyWebhookRequest, optional): The request body parameter.

        Returns:
            Webhook: Response from the API. OK - the request has succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/webhooks/{webhookId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Webhook.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_companies_company_id_webhooks_webhook_id_generate_hmac(self,
                                                                    company_id,
                                                                    webhook_id):
        """Perform a POST request to
        /companies/{companyId}/webhooks/{webhookId}/generateHmac.

        Returns an [HMAC key](https://en.wikipedia.org/wiki/HMAC) for the webhook
        identified in the path. This key allows you to check the integrity and the
        origin of the notifications you receive.By creating an HMAC key, you start
        receiving [HMAC-signed
        notifications](https://docs.adyen.com/development-resources/webhooks/verify-hm
        ac-signatures#enable-hmac-signatures) from Adyen. Find out more about how to
        [verify HMAC
        signatures](https://docs.adyen.com/development-resources/webhooks/verify-hmac-
        signatures).
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Webhooks read and write

        Args:
            company_id (str): The unique identifier of the company account.
            webhook_id (str): Unique identifier of the webhook configuration.

        Returns:
            GenerateHmacKeyResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/webhooks/{webhookId}/generateHmac")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GenerateHmacKeyResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()

    def post_companies_company_id_webhooks_webhook_id_test(self,
                                                           company_id,
                                                           webhook_id,
                                                           body=None):
        """Perform a POST request to
        /companies/{companyId}/webhooks/{webhookId}/test.

        Sends sample notifications to test if the webhook is set up correctly.
        We send sample notifications for maximum 20 of the merchant accounts that the
        webhook is configured for. If the webhook is configured for more than 20
        merchant accounts, use the `merchantIds` array to specify a subset of the
        merchant accounts for which to send test notifications.
        We send four test notifications for each event code you choose. They cover
        success and failure scenarios for the hard-coded currencies EUR and GBP,
        regardless of the currencies configured in the merchant accounts. For custom
        notifications, we only send the specified custom notification.
        The response describes the result of the test. The `status` field tells you
        if the test was successful or not. You can use the other response fields to
        troubleshoot unsuccessful tests.
        To make this request, your API credential must have the following
        [roles](https://docs.adyen.com/development-resources/api-credentials#api-permi
        ssions):
        * Management API—Webhooks read and write

        Args:
            company_id (str): The unique identifier of the company account.
            webhook_id (str): Unique identifier of the webhook configuration.
            body (TestCompanyWebhookRequest, optional): The request body parameter.

        Returns:
            TestWebhookResponse: Response from the API. OK - the request has
                succeeded.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path("/companies/{companyId}/webhooks/{webhookId}/test")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("companyId")
                .value(company_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("webhookId")
                .value(webhook_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("ApiKeyAuth"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TestWebhookResponse.from_dictionary)
            .local_error("400",
                "Bad Request - a problem reading or understanding the request.",
                RestServiceErrorException)
            .local_error("401",
                "Unauthorized - authentication required.",
                RestServiceErrorException)
            .local_error("403",
                "Forbidden - insufficient permissions to process the request.",
                RestServiceErrorException)
            .local_error("422",
                "Unprocessable Entity - a request validation error.",
                RestServiceErrorException)
            .local_error("500",
                "Internal Server Error - the server could not process the request.",
                RestServiceErrorException),
        ).execute()
